[2017-03-30 12:27] adebree opened #1 "npm script serve:universal tries to start non-existing server script"
Package.json:
[code]

but in ./.server/ there is only spa-server.js

[2017-03-30 12:31] fulls1z3 commented on #1
Hi @adebree, server.js is the output of the webpack bundling process.

When you run `npm run serve` just after an universal build command, it will work.

[2017-03-30 12:34] adebree commented on #1
ah right.. I wasn't expecting files to be generated next to a file that is maintained directly. Thanks for clearing that up.

[2017-03-30 12:34] #1 closed, assigned to nobody

[2017-03-30 12:40] fulls1z3 commented on #1
You're welcome, enjoy the Angular Universal 👍

[2017-03-30 17:25] IPRIT opened #2 "add HMR support"
Do you have any plans to do it for real time developing?
At the moment it takes too much time for compiling new bundles and serving in a browser.
I think all of us wants to see best performance in building and new nice features like HMR, etc. (what we see in [@AngularClass/angular2-webpack-starter](https://github.com/AngularClass/angular2-webpack-starter))
Because of this fact above it becomes use

[2017-03-30 17:42] IPRIT opened #3 "inline styles doesn't work properly in SSR"
Excerpt from a server response:
![image](https://cloud.githubusercontent.com/assets/1553519/24518098/53a33718-1589-11e7-93d3-d8a8cd8823a9.png)

[2017-03-30 18:11] fulls1z3 commented on #2
Hi @IPRIT, thanks for pointing out this topic.

Actually I was thinking about the same thing on the way home from gym - so, great minds think alike ;)

Although it's less than just a couple of hours of work, this week I won't be able to provide that. But within a week or two, for sure I'll publish an update containing the HMR functionality.

[2017-04-02 20:47] robertdumitrescu opened #4 "any plans to add AOT support"
Any plans to add AOT support to this demo app?

Thanks!

[2017-04-02 20:47] #4 closed, assigned to nobody

[2017-04-05 15:07] FelipeTaiarol opened #5 "introduce CacheService"
Nice example!

Is there any way to have something similar to this CacheService in Angular 4 ?

https://github.com/angular/universal-starter/blob/master/src/+app/shared/cache.service.ts .
https://github.com/angular/universal-starter/blob/master/src/node.module.ts

[2017-04-05 15:20] fulls1z3 commented on #5
According to the [universal docs](https://github.com/angular/universal/blob/master/README.md#universal-gotchas), we need that.

There was an approach in my mind earlier this week, for this cache service. I'll also dig the universal-starter a bit, and I think I'll be able to implement this feature on a separate repository - at the first opportunity.

[2017-04-09 13:10] fulls1z3 opened #6 "use `@ng-universal/express-engine` (Angular 4.0)"
Switch to the official express engine `@ng-universal/express-engine` when it gets released (Angular 4.0).

[2017-04-09 13:10] fulls1z3 opened #7 "use Http Transfer State Module (Angular 4.1+)"
Switch to the official Http Transfer State Module when it gets released (Angular 4.1+).

[2017-04-10 13:26] wozniakm commented on #2
Hi! Anything new on this request?

Great work, man 👍

[2017-04-10 13:30] fulls1z3 commented on #2
Hi @wozniakm, thanks for your appreciation 👍

Just updated the repo with some utils from @nglibs and their loaders at the server-side, and currently working on caching the XHR/fs requests.

I think after this, HMR has the first priority - so we're not far from there. And then I hope I'll make several contributions to @angular/universal with these lessons learned.

[2017-04-10 14:49] wozniakm commented on #2
Sounds great. If you can prepare some roadmap I would love to help you with developing that "starter" pack.

[2017-04-10 15:00] fulls1z3 commented on #2
Thanks @wozniakm, I and all people benefiting from this repo would really appreciate that.

Currently we've got more or less no roadmap, except the items on the issue list. Feel free to add new items with `enhancement` tag/label, so I will do that and let's progress with them.

Actually, just after the cache implementation new items will occur.

[2017-04-12 11:59] fulls1z3 commented on #5
The problem on the server-side, there's no interface which we can store the data (*ex: localStorage, window, etc.*). Furthermore, on each navigation, the DI is lost at the server-side code. For this reason, in-memory cache was not option too.

Well, I think I've managed both the server-side and client-side caching (*transferring the cache using `nglibs/universal-transfer-state`*):

- using **fs**

[2017-04-14 17:53] fulls1z3 commented on #5
Check the implementation: just updated this repo as well as publishing 4 separate packages for cache operations both on server and browser platforms. Everything is handled via the `@Cached(...)` decorator on the method/loader/etc which you want it cached. Also, there's the possibility to use caching methods (`has`, `get`, `set`) using the caching API.

- [ngx-cache/core](http://github.com/ngx-cach

[2017-04-14 17:53] #5 closed, assigned to fulls1z3

[2017-04-14 21:16] FelipeTaiarol commented on #5
cool, I'll take a look, thanks!

[2017-04-29 10:14] gedgud opened #8 "ngx-cache errors"
Hi, when I try install npm packages I get these errors:
[code]

In package.json file change some version and all packages installed.
[code]
But when I try to start app with **npm run serve** I have new errors:
[code]

[2017-04-29 11:03] fulls1z3 opened #9 "introduce universal-config-loader"

[2017-04-29 11:09] fulls1z3 commented on #8
Hi, they were awaiting the update I've recently committed. When you pull the latest version from repo, all should work without a problem.

[2017-04-29 11:09] #8 closed, assigned to nobody

[2017-04-29 11:09] #9 closed, assigned to fulls1z3

[2017-05-05 13:44] srivas418 opened #10 "how to add this to existing project"
I would like to add this SSR to my project. I used ng2-admin as a base. How can i add this SSR to my project.. Please help

[2017-05-06 13:31] mohamed-rekiba commented on #2
Hi @fulls1z3, is there any new news?

[2017-05-06 13:36] fulls1z3 commented on #2
Hi @MuhammadShaban, I made a few tries on it.

First tried the HMR from @AngularClass, but it simply didn't work. Then made another try using `webpack-hot-middleware`. Seemed like it was working, but it simply re-triggers the webpack process from all over.

I've read the issues about `webpack-hot-middleware` and they say it could happen because we use `nodemon`. So basically it would take a few mo

[2017-05-08 22:37] fulls1z3 commented on #2
hi @IPRIT @MuhammadShaban @wozniakm, just pushed the latest changes including HMR support. Refer the instructions at the README and give it a try when u've got available time. Awaiting feedbacks 👍

[2017-05-08 22:37] #2 closed, assigned to fulls1z3

[2017-05-08 22:38] fulls1z3 commented on #3
Hi @IPRIT, try `ViewEncapsulation.None` on the component metadata, might be helpful.

[2017-05-08 22:38] #3 closed, assigned to nobody

[2017-05-08 22:40] fulls1z3 commented on #10
Hi @srivas418, actually it would be pretty difficult to answer this without knowing your project structure.

If you can, better try to use this project as a seed and copy your components/views/styles conforming to the project structure.

If not, try to stick as much as possible to the webpack configuration, where the magic is hidden.

[2017-05-08 22:40] #10 closed, assigned to nobody

[2017-05-09 10:19] mohamed-rekiba commented on #2
thanks @IPRIT, i will try it as soon as possible.

[2017-05-09 21:44] theomathieubhvr opened #11 "production build not working"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

After a fresh git clone / npm install, I run `npm run build:universal-prod`

![screen shot 2017-05-09 at 5 37 09 pm](https://cloud.githubusercontent.com/assets/24896997/25874024/b7465aec-34de-11e7-9423-9f507a3dc1ee.png)
I get this issue 4 times.

![screen shot 2017-05-09 at 5 37 26 pm](https://cloud.githubusercontent.com/

[2017-05-09 21:52] fulls1z3 commented on #11
It's a known issue which arises today, this repo depends on the `harmony` branch of UglifyJs2 and it got somehow broken. If you visit the latest issues on that repo, you'll notice how everyone's builds are failing.

Commenting Uglify plugin from webpack config will help the prod build to be successful. Tomorrow, I'll have a look at the UglifyJs2 repo and try to solve this.

[2017-05-09 21:54] theomathieubhvr commented on #11
Cool, thanks !

👍

[2017-05-10 09:48] fulls1z3 commented on #11
(*internal note*)
here's a list of links referencing the **major** crash on `UglifyJS`:
- https://github.com/webpack/webpack/issues/2545#issuecomment-300491370
- https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/33
- https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/32
- https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/31
- https://github.com/mishoo

[2017-05-10 14:25] Mahmoud-hassan87 commented on #11
i have same issue

[2017-05-10 15:12] theomathieubhvr opened #12 "how to run production universal server ?"
**I'm submitting a ...**  (check one with "x")
[code]

**Expected/desired behavior**

I'm not sure how to run the universal server once I have built it with `npm run build:universal-prod` (I have deactivated UglifyJS as you told me in #11).

**Minimal reproduction of the problem with instructions**
I tried `node .server/server.js` but when I go to http://localhost:8000 it tells me that some .cache

[2017-05-10 15:15] fulls1z3 commented on #11
@Mahmoud-hassan87 i'm still collecting information on this topic, seems like the new of UglifyJS broke many things.

Stay tuned.

[2017-05-10 15:15] ghost opened #13 "gulp erroring out on Windows during 'bundle:spa-dev' task."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Unable to run any build commands on Windows. Errors out during gulp task 'bundle:spa-dev'

**Expected/desired behavior**
Expect a successful build.

**Minimal reproduction of the problem with instructions**
1. Clone repository
2. npm/yarn install
3. npm run build:spa-dev
4. Error.

**Please tell us about your environment:*

[2017-05-10 15:18] fulls1z3 commented on #13
@sam-candeocreative there's no task with name `bundle:spa-dev`. You should use `gulp bundle:spa-dev` or better `npm run build:spa-dev` to build the package on client side in dev mode.

[2017-05-10 15:23] ghost commented on #13
@fulls1z3 That is what I put above, is it not?

The gulp task is clearly labeled `bundle:spa-dev`. The npm run command is `build:spa-dev`

[2017-05-10 15:24] ghost commented on #13
Console output
[code]

Log file output:
[code]

[2017-05-10 15:32] fulls1z3 commented on #13
@sam-candeocreative it's ok, we all made typo errors (even once I sent money to a wrong account and lost some hundred bucks :smile:).

Well, the error explains itself:
[code]

Did you perform `npm`/`yarn` install for dependencies before running the build task? Or, maybe you have `@angular` installed globally. I think installing/resolving dependencies will solve your problem.

Try this solution, an

[2017-05-10 15:38] ghost commented on #13
@fulls1z3

Yes, hence my confusion.

From my `yarn.lock`:
[code]

[2017-05-10 15:39] fulls1z3 commented on #13
Did you try to remove whole `node_modules` and run `yarn`?

[2017-05-10 15:41] fulls1z3 commented on #12
@theomathieubhvr thanks for pointing this issue out, I've found what's happening under the hood. `fs.mkdir` fails while creating `./temp/cache`. If you create this directory manually and run `npm run serve` task, it should run without a problem.

It seems I'll need to fix the `@ngx-cache/fs-storage` but gonna publish a workaround on this repo asap.

[2017-05-10 15:53] ghost commented on #13
Just tried this. No luck - same errors. Also tried `yarn upgrade @angular/compiler-cli` after with no luck.

[2017-05-10 16:07] ghost commented on #13
@fulls1z3 I gave up and resorted to linux subsystem for now. Definitely a bug somewhere with Windows that I can't quite root out right now.

[2017-05-10 16:13] fulls1z3 commented on #12
@theomathieubhvr update the repo, also update the dependencies (*`@ngx-cache/fs-storage` has been upgraded to `v0.4.0-beta.2` while `v0.4.0-beta.1` became history due to this bug*). It should run without a problem.

[2017-05-10 16:14] #12 closed, assigned to nobody

[2017-05-10 16:16] fulls1z3 commented on #13
@sam-candeocreative actually I'm using Windows but it's better to have some automated builds for this repo both on **travis-ci** and **appveyor**. Also, please let me know about the details on this topic, maybe we'll find out a clue.

[2017-05-10 16:16] #13 closed, assigned to nobody

[2017-05-10 16:17] fulls1z3 commented on #11
@theomathieubhvr @Mahmoud-hassan87 get the latest version and try to build. I temporarily commented the `UglifyJs` and it should run without a problem now.

[2017-05-10 17:12] theomathieubhvr commented on #11
Thanks ! That's working now.

I don't know what to do with this issue, renaming it or closing it ?

I'll let you decide.

[2017-05-10 18:12] fulls1z3 commented on #11
Let's leave it because I could not reproduce it (using `fulls1z3/webpack` as a dependency). Let's keep this open for a few more days, and let's see.

[2017-05-10 21:46] jason-timios opened #14 "troubles adding an svg"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

add svg to src/client/assets
example css `background: url('../../assets/bg.svg') no-repeat center center;`
webpack fails to build with error:
[code]

**Expected/desired behavior**

For the svg to show as a background using relative paths to describe where it should be found.

**Minimal reproduction of the problem with ins

[2017-05-10 21:52] jason-timios commented on #14
Seems to be fixed by using [hash] instead of [chunkhash] in webpack.common.js

[2017-05-11 07:19] Mahmoud-hassan87 opened #15 "page rendering on server side and client side"
When try this example I show the page rendering twice on server side and rendering again on client side, Why this behavior occurs ?

[2017-05-11 08:21] fulls1z3 commented on #13
@sam-candeocreative I'd like to share an interesting thing with you. I was trying to remove `uglifyjs` deps from the package, and deleted the entire `uglifyjs` dir from `node_modules` followed by the execution of `yarn` command. The output was exactly as follows:

[code]

I saw that yarn tends to **do not update** anything while the `package.json` was still the same. I made a small change on packa

[2017-05-11 08:23] fulls1z3 commented on #14
@jason-candeo thank for reporting this, I'll check this soon.

[2017-05-11 09:15] fulls1z3 commented on #11
I solved this by forcing the `uglify-js` deps to use version `git://github.com/mishoo/UglifyJS2#harmony-v2.8.22`.

Get the latest version of this repository, and remove `webpack` and `uglify-js` dirs from `node_modules` and run `npm install`/`yarn` et voila!

[2017-05-11 09:15] #11 closed, assigned to fulls1z3

[2017-05-11 12:55] ghost commented on #13
@fulls1z3 I think you missed `yarn upgrade` when looking into yarn. `yarn upgrade` will do what you suggested above, just a little easier. `yarn upgrade` will rebuild the lockfile that you went through all that effort to invalidate ;)

Anyway, I thought I had tried this yesterday, but maybe I didn't try a general upgrade. It seems to be working fine today :). Of course, after I spent all that effo

[2017-05-11 12:58] fulls1z3 commented on #13
Well I'm glad that it works now :)

[2017-05-11 18:47] theomathieubhvr opened #16 "changes do not impact the view and HMR is not working anymore"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I don't know why but sometimes running `npm run serve:spa-hmr` the files are still at the last occurence. When changing files nothing happens on http://localhost:1337.

I tried to remove .cache and .temp directories, with no success.

Any idea why ?

When I clone your repo again and then yarn, everything is working fine.

[2017-05-11 18:50] theomathieubhvr opened #17 "reorder dependencies in package.json"
Hey,

I would like to create a Pull Request to reorder the devDependencies (alphabetically) in your package.json.

The reason behind this is that yarn automatically do that and it creates huge conflict when git fetching your repo into my private one.

Do you agree ? If so, I will create a PR ASAP.

[2017-05-11 18:53] fulls1z3 commented on #17
@theomathieubhvr I saw that `yarn` is auto-sorting the deps using `yarn upgrade` but the main reason that the deps are not sorted, just grouped, was the ability to manage them by seeing in groups.

It's in my mind to find out a way how to make `yarn` to not sort them alphabetically. For now, let's better leave it :)

[2017-05-11 18:53] #17 closed, assigned to nobody

[2017-05-11 18:53] theomathieubhvr commented on #17
Ok !

Thanks for the explanation.

[2017-05-11 19:03] fulls1z3 commented on #16
@theomathieubhvr without repro steps it would be very difficult to see what's going on. I'll try to have a look on this when I'll be available.

[2017-05-11 20:50] theomathieubhvr commented on #16
Yes I understand. I'll try to repro this on monday !

Thanks.

[2017-05-12 13:51] Gbuomprisco commented on #15
Hi @Mahmoud-hassan87,

I have the same issue and looking for a solution, even though I don't think this seed is responsible for the issue, must be a Universal issue instead. They did have an issue for this particular bug but they closed it.

[2017-05-12 14:00] fulls1z3 commented on #15
@Gbuomprisco can you please share the issue url here? Maybe I can catch something from the information there.

[2017-05-12 14:05] Mahmoud-hassan87 commented on #15
Your sample have this issue

[2017-05-12 14:12] Gbuomprisco commented on #15
@fulls1z3 What I experience is exactly what is described in this issue https://github.com/angular/universal-starter/issues/139, and also others. Thing is these might be outdated now as they were using last year's code.

[2017-05-12 14:15] fulls1z3 commented on #15
@Gbuomprisco the info seems outdated, but can be useful. I'll dig into this a little this evening and see what can I do.
@Mahmoud-hassan87 thanks for the enlightment 👍

[2017-05-12 14:24] Gbuomprisco commented on #15
Thanks @fulls1z3, I'll try as well

[2017-05-12 18:58] hameltomor opened #18 "how include primeNG"
Hi guys!

How I can use primeNG modules with this template?

I installed to project and registered in module, but I have a error when I started like universal server.
`VM32464:27 ERROR Error: Uncaught (in promise): Error: Unexpected value 'DropdownModule' imported by the module 'BlogModule'. Please add a @NgModule annotation.
Error: Unexpected value 'DropdownModule' imported by the module 'BlogMod

[2017-05-13 14:36] Koslun commented on #15
@Mahmoud-hassan87  Not sure but you might be seeing this issue: https://github.com/angular/angular/issues/15716. Essentially the issue is that the server-rendered CSS is removed from the DOM before the client CSS is applied, causing a flicker regardless of if you transfer the state perfectly or not.

Apparently a fix should be landing in the next angular releases, i.e. 4.1.3 and 4.2.0-beta.2. Wher

[2017-05-15 08:50] Gbuomprisco commented on #15
Thanks @Koslun

[2017-05-15 15:28] theomathieubhvr commented on #16
Ok,

I succeeded repro this :)

I THINK it might be starting when I run `npm run build:universal-prod`, then my hmr command does not work anymore.

This is what I did :
[code]

MODIFY A FILE : HMR WORKS

[code]

MODIFYING A FILE DOES NOT WORK BEYOND THIS POINT.

[code]
=> even when deleting .cache, .temp directories, any change is not taken into account (event if I change a file BEFORE running ser

[2017-05-15 17:47] fulls1z3 commented on #16
@theomathieubhvr now I get it :)

The HMR feature does not run on the server platform (*Universal*) yet. I've got it working just on the browser platform (*SPA*). Let's keep this issue open, because I'm still working on development of polyfills for Angular Material for the server platform. Then, I'll surely have a look at this.

[2017-05-15 17:49] fulls1z3 commented on #15
@Koslun thank you so much for this information, now I realized the reason that I subscribed to the updates of https://github.com/angular/angular/issues/15716. Seems like we'll get it working soon, and I'm keeping this issue `open` in order to do not leave it unresolved.

[2017-05-15 17:50] theomathieubhvr commented on #16
Oh, that's not what I meant. I don't want hmr to work with universal. But in my case :

- I run hmr for development mode
- I run build:universal-prod for production mode

But one at a time !

Once I runned build:universal-prod to build my project for production, I cannot develop anymore cause my files are not updated anymore.

[2017-05-15 17:52] fulls1z3 commented on #16
Now more clear, the HMR implementation was only for the **development mode** (*JiT*), and on **browser platform** (*SPA*).

[2017-05-15 17:53] fulls1z3 commented on #16
And I want to simply ask about `files not updated anymore`. You mean, the assets which were copied thru `CopyWebpackPlugin`?

[2017-05-15 18:01] theomathieubhvr commented on #16
I've not tried the assets (I can try any file if you ask me) but modifying app.component.html does not  update the view.

[2017-05-15 18:03] fulls1z3 commented on #16
Understood, assets just add a bit more complexity to the current situation. But the previous answer is still valid, you can get the HMR running only after a development build, not a production build.

However, I'll see what can I do for this.

[2017-05-15 18:44] theomathieubhvr commented on #16
Oh ok now I understand !!

I have to run build:spa-dev to rebuild the correct files.

As always, thanks for your reactivity ! :)

[2017-05-16 21:14] theomathieubhvr opened #19 "how to get location with universal"
Hey,

**I'm submitting a ...**  (check one with "x")
[code]

**What is the motivation / use case for changing the behavior?**
I am creating a white label website on which the content shown is dependant from the url used by my users. I cannot use window.location as it is not available server side.

* **Angular version:** 4.1.0

I would be pleased to help you implement this, but do you have any lead

[2017-05-17 06:42] fulls1z3 commented on #19
Currently not, but I'll have a look at this probably in the weekend.

[2017-05-17 10:47] Gbuomprisco commented on #19
@theomathieubhvr, I am not totally aware of your specific case, but can't (and shouldn't?) the router handle that?

[2017-05-17 13:52] theomathieubhvr commented on #19
@Gbuomprisco I'm trying to get the domain of the website I visit.

I tried to do this
`console.warn((router as any).location._platformStrategy._platformLocation.location);` with no luck server-side.

[2017-05-18 10:20] ghost opened #20 "nodemon / npm run serve crashed on rebuild"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
npm run serve crashes on npm run build:universal-prod or build:universal-dev.

**Expected/desired behavior**
I think it should not crash by rebuilding server.js

**Minimal reproduction of the problem with instructions**

My steps (win10):

    git clone https://github.com/ng-seed/universal.git
    cd universal
    npm inst

[2017-05-20 01:48] fulls1z3 commented on #20
@ortreum title says everything, it's all about nodemon. You can modify the package.json to force use your project using another tool than `nodemon`.

[2017-05-20 01:48] #20 closed, assigned to nobody

[2017-05-20 09:00] ghost commented on #20
Hello,

@fulls1z3 fulls1z3 then please use a **working** version of nodemon in your package.json because I expect a usable version if I clone this project. I'm not that deep into this subject and can't just "use another tool".

Michael

[2017-05-22 09:27] fulls1z3 commented on #19
Well, I can suggest you a simple workaround to retrieve that value using [ngx-meta](https://github.com/ngx-meta/core).

There's the [`applicationUrl` parameter](https://github.com/ng-seed/universal/blob/master/src/client/assets/config.json#L4) in `config.json`, which is passed to `MetaStaticLoader` on [app.module](https://github.com/ng-seed/universal/blob/master/src/client/app/app.module.ts#L41).

[2017-05-22 11:16] #19 closed, assigned to nobody

[2017-05-23 14:19] theomathieubhvr commented on #19
Ok sorry but I checked and appplicationUrl parameter is very much static.

Maybe I haven't been clear, I will try to reexplain.

Assuming I have a news website with two categories, Politics and Economics. I want to offer http://politics.website.com and http://economics.website.com as urls that my user can go to.

These with ONE repository, yours. I want to know which user is on which website.

Is

[2017-05-23 19:28] paulogr opened #21 "no ResourceLoader implementation has been provided"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Got this error when running server
```Error: No ResourceLoader implementation has been provided. Can't read the url "../../assets/colors"```

I have some sass files using `@import`

**Expected/desired behavior**

No error at all

**Minimal reproduction of the problem with instructions**

Just add a scss file and trying to

[2017-05-26 19:28] theomathieubhvr commented on #19
OK i managed to do it !

I can make a Pull request if needed (but I think this is too specific).

To sum up how I did, I created a custom OriginService for server (for browser I just set origin to window.location.origin).

[code]

[2017-05-26 19:35] theomathieubhvr opened #23 "a console.log in AppComponent is called 3 or 4 times on the server"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When adding console.log('test') in the constructor of AppComponent file, the server is logging it 3 or 4 times.

**Minimal reproduction of the problem with instructions**

1) Add a random console.log in AppComponent
2) npm run build:universal-dev
3) npm run serve
4) Load the page at localhost:8000

* **Angular version:**

[2017-05-27 19:12] rahulbpatel commented on #21
I am running into the same thing.  I am trying to import Bootstrap via the `app.component.scss` file:

[code]

[2017-05-27 19:20] rahulbpatel commented on #21
Actually my issue might be unrelated, I just realized I was missing the `bootstrap-sass` package.  I added it and am running into other issues.  Will report back what I find out.

[2017-05-27 19:50] rahulbpatel commented on #21
I think that fixed my issue.  @paulogr might want to check that file `"../../assets/colors"` actually exists

[2017-06-02 16:21] ysus opened #24 "server side not render http requests"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

when i run the repo with server side not render http requests, the http call is to an api rest in another server.

**Expected/desired behavior**

i like to see the data render when i call the page
**Minimal reproduction of the problem with instructions**

it show me a empty array

**Please tell us about your environment:*

[2017-06-05 19:17] ennyta commented on #21
I am getting the same error. Any ideas? File is there.

[2017-06-06 16:08] #24 closed, assigned to nobody

[2017-06-06 17:59] ysus commented on #21
i can resolve the issue  that i have but with font-aweson, basically is the same configuration for both:
`{
        test: /\.scss$/,
        use: [{
          loader: "to-string-loader"
        }, {
          loader: "css-loader"
          }
        }, {
          loader: "resolve-url-loader"
        }, {
          loader: "sass-loader", options: {
            sourceMap: true,
            data: '@

[2017-06-06 19:40] ennyta commented on #21
I managed to fix it.
In webpack.common.js add this part:
   {
        test: /\.scss$/,
        exclude: /node_modules/,
        loaders: ['raw-loader', 'sass-loader'] // sass-loader not scss-loader
      }

and remove scss from this part:
{
        test: /\.(**scss**|html|png|jpe?g|gif|svg|woff|woff2|ttf|eot|ico)$/,
        use: 'raw-loader'
      }

That enables @imports in sass to be resolved an

[2017-06-09 13:10] theomathieubhvr opened #25 "i18n file changes are not taken into account (spa hmr)"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When adding keys to i18n files, changes are not taken into account. This works well on universal server (dev + prod) but not with spa.

Thanks  !

**Expected/desired behavior**

Keys should be translated when using {{'KEY' | translate}} and not showing KEY.

**Minimal reproduction of the problem with instructions**

* mod

[2017-06-13 17:04] theomathieubhvr commented on #25
Quick fix : clear every browser cache. But this should not happen in dev.

[2017-06-13 17:10] theomathieubhvr commented on #23
This was mainly due to the fact that Chrome is trying to get the favicon.ico even if it is not referenced. I used npm serve-favicon library to fix this.

[2017-06-13 17:10] #23 closed, assigned to nobody

[2017-06-13 17:50] fulls1z3 commented on #25
@theomathieubhvr I suppose you're using `HMR` on spa build and I have exactly the same issue right here.

I digged it a little and found out that's more or less connected with `copy-assets-webpack-plugin` and `webpack-dev-server`.

It's a known issue with the `HMR`; files copied through `copy-assets-webpack-plugin` are not taken into account.

Rebuilding the project using `npm run build:spa-dev` a

[2017-06-13 17:50] #25 closed, assigned to nobody

[2017-06-13 17:56] theomathieubhvr commented on #25
That's exactly it !

But in production, if I update my i18n keys, how can I force my users to reload their localstorage ?

Thanks !

[2017-06-13 18:08] fulls1z3 commented on #25
You can set TTL (*in terms of secs, ex: 300*) right at the `imports` section of you `app.module`. I suppose there's no usage example on [ngx-cache/core](https://github.com/ngx-cache/core) repository about TTL but see the `cache.loader.ts` to what params to pass. Also, don't forget to set the `expiry` param to undefined - otherwise it will override the TTL.

[2017-06-19 07:07] mohitkadelongraph commented on #21
@ennyta
Where should we write this -
{
test: /.scss$/,
exclude: /node_modules/,
loaders: ['raw-loader', 'sass-loader'] // sass-loader not scss-loader
}
in serverConfig or in browserConfig?
If in browserConfig then do we need to remove pre-defined scss rules?

[2017-06-19 08:09] Mjf94 opened #26 "non-existing spa-server.js when running spa/lean Angular"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I clone the repo and run the following command:
[code]
and the app cannot run as there's no file named spa-server.js in /.server folder.

**Expected/desired behavior**

It supposes to run the SPA at `http:\\localhost:1337`.
**Minimal reproduction of the problem with instructions**

Just clone the repo and try to run the c

[2017-06-19 08:11] #26 closed, assigned to nobody

[2017-06-19 08:16] Mjf94 commented on #26
I thought the /.server folder is auto-generated and remove the files inside, which is wrong.
In fact the spa-server.js and spa-server.hmr.js should be kept and they will be updated when rebuild.

Sorry for submitting a wrong issue.

[2017-06-22 02:47] ysus commented on #21
In webpack.common.js

[2017-06-26 19:04] gianpaj opened #28 "issue when trying to add ng-bootstrap"
**I'm submitting a ...**
[code]

Has anybody managed to add https://github.com/ng-bootstrap/ng-bootstrap/?

I've followed the steps on their README but I'm getting the `ng-X` component is not a known element:

`'ngb-rating' is not a known element`

I tried adding a simple rating to the home component `template`:
https://github.com/ng-seed/universal/blob/master/src/client/app/+home/home.component.t

[2017-06-27 16:06] #28 closed, assigned to nobody

[2017-06-27 18:04] fulls1z3 commented on #21
@paulogr @rahulbpatel @ennyta @mohitkadelongraph @ysus I was able to reproduce this error, and am going to push a fix within a couple of hours, so stay tuned guys.

[2017-06-27 20:16] #21 closed, assigned to fulls1z3

[2017-06-27 20:18] fulls1z3 commented on #18
@hameltomor unfortunately I have no specific knowledge about primeNG. However, I'll update this repository by including @angular/material2 soon. I hope this future update would give you more or less an idea including primeNG.

[2017-06-27 20:18] #18 closed, assigned to nobody

[2017-06-27 21:15] #16 closed, assigned to nobody

[2017-06-28 18:16] ChrisDalley opened #29 "production build issue `Uncaught Error: No NgModule metadata found for 't'.`"
[code]

**Current behavior**
It seems to be that recently an npm dependency has been updated which causes silent build issues for production builds, both build:universal-prod and build:spa-prod . Previously everything has been working fine as for production builds but sometime in the last week these issues have arose.

Webpack itself gives no errors during the build but no css file is generated in

[2017-06-28 20:33] fulls1z3 commented on #29
@ChrisDalley after upgrading to `Node.js v8` and `TypeScript v2.4.1` I'm also getting errors, however they're connected with `rxjs`.

The reason that the production builds resulting with failure is because the `no-errors` webpack plugin (*prevents the build to be complete in case of any errors*).

I'm currently working on a breaking change for the webpack configuration, and I think we'll find a so

[2017-06-28 20:52] fulls1z3 commented on #29
@ChrisDalley now I reproduced this error, I think things will become easier now 👍

[2017-06-28 20:58] fulls1z3 commented on #29
@ChrisDalley can you please share the exact @angular, typescript, @ngtools/webpack and rxjs versions? That might be useful.

[2017-06-28 21:12] fulls1z3 commented on #29
@ChrisDalley I'll also need the exact webpack version that you're using.

[2017-06-28 21:24] ChrisDalley commented on #29
@fulls1z3 Here are the versions
@ angular/core@4.1.3
rxjs@5.4.1
typescript@2.3.4
webpack@2.6.1

[2017-06-28 21:56] fulls1z3 commented on #29
@ChrisDalley I found it! It's all about `@ngtools/webpack`. Please let me know which version of `@ngtools/webpack` is at your system (*better have a check looking at the package.json in the node_modules folder*). Meanwhile, I'll try to find out the maximum working version of `@ngtools/webpack`.

[2017-06-28 21:58] ChrisDalley commented on #29
@fulls1z3 - Thanks for taking a look so fast! Its all about what package though sorry? It didnt show in your last message!

[2017-06-28 21:59] fulls1z3 commented on #29
@ChrisDalley I edited the post, `@ngtools/webpack` appears now :smile:

[2017-06-28 22:00] ChrisDalley commented on #29
Oh great! Im currently on version
[code]

[2017-06-28 22:07] fulls1z3 commented on #29
Try to switch to v1.3.3 now if things are urgent. Further versions do not work. I'm not surprised, `@angular/cli` still seems unreliable.

I'll update the repo within a few hours if things are not urgent for you. For now, use this dude:

#### package.json
[code]

[2017-06-28 22:19] ChrisDalley commented on #29
@fulls1z3 thats done the job - cheers for the help! Great work with the repo btw 😄

[2017-06-28 22:24] fulls1z3 commented on #29
@ChrisDalley thanks too, and it would be nice if you can make a favor: Can you please post this issue (*meanwhile I'm working for a permanent solution over here*), with same details at the `@angular/cli` repository - mentioning `@ngtools/webpack` with working and non-working versions?

It would definitely help the Angular team to reconsider their strategy and solve this issue on the upcoming relea

[2017-06-28 22:56] #29 closed, assigned to fulls1z3

[2017-07-03 15:19] cveld commented on #7
@fulls1z3 Any update? Is there currently any server-side state transfer going on?
What would be a good example repo to showcase this Http Transfer State Module?

One repo that is using server-side state transfer is https://github.com/angular/universal-starter. But this one is still based on Angular 2.x.

Another universal demo that is being mentioned is https://github.com/FrozenPandaz/ng-universal

[2017-07-07 17:09] theomathieubhvr commented on #6
#31 should be closing this. :)

[2017-07-10 06:26] ghost opened #32 "importing auth0 breaks universal"
**I'm submitting a ...**  (check one with "x")
[code]
After importing auth0-js in a component I'm receiving the following error after building and serving via express. SPA mode works fine however.

**Import**:
`import auth0 from 'auth0-js';`
**Run**:
npm run build:universal-dev
npm run serve
**Error**:
[code]

[2017-07-10 22:59] rdsedmundo opened #33 "too much tools, features; complexity"
**Note: I didn't follow the template because this is not really a request or a report, but a discussion**

I've found this kit awesome, very well coded, but it's too much complex, much more than a project generated using the Angular CLI for example. I know that the Universal come with other requirements, but [this][1], for example, works fine, and it's much more easy to integrate with an existing

[2017-07-12 22:41] singhmohancs opened #34 "XMLHttpRequest is not defined"
I am using this seed for server side rendering. Everything works perfectly.

Now, Issue occurs when any `node_mode` make a `XMLHttpRequest`. I have used `https://github.com/backand/angular2-sdk` this SDK in an application. This SDK makes an `XMLHttpRequest` to fetch data from the backend.

#### Client side rendering does work perfectly because `XMLHttpRequest` object is available in the browser.

[2017-07-12 22:50] theomathieubhvr opened #35 "HMR app.scss"
The sass files in assets/sass are not live reloaded when a changes occured.

I'll try to fix soon this when I have time available.
My PR might be in angular-webpack-config repo.

[2017-07-12 22:53] fulls1z3 commented on #35
@theomathieubhvr thank you very much for finding out this, seems like this feature need some enhancements.

Meanwhile I'll invite you as a contibutor to this project as well as `angular-webpack-config` project. And I will do the same if you're interested in others (*almost all dependencies with `ngx-` prefix*).

[2017-07-12 22:56] #6 closed, assigned to fulls1z3

[2017-07-12 23:15] fulls1z3 commented on #33
@rdsedmundo thanks for your kind works, and your thoughts. I believe that this discussion will contribute much to the successful development and maintenance of this project. So, let's start with the points you discussed:

I was developing software using Angular much time ago, by using Gulp as a task runner in alignment with Visual Studio 2015. This project inherited much from these previous projec

[2017-07-12 23:32] theomathieubhvr commented on #35
Ok, I'll do it ASAP. I've succeeded in doing this when you didn't use angular-webpack-config. I should be able to make it working with angular-webpack-config.

[2017-07-12 23:35] fulls1z3 commented on #35
I know that `angular-webpack-config` seems to make things a little more complicated, but I'm depending on the same config on 10+ projects. Every time this config needs an update I had to make the changes on all those projects (*which leads to mistakes, issues, etc.*).

With `angular-webpack-config` changes are more or less centralized, increasing the version number works like a charm in most cases

[2017-07-13 17:37] theomathieubhvr commented on #35
Done with https://github.com/fulls1z3/angular-webpack-config/pull/1

[2017-07-15 01:25] fulls1z3 commented on #34
@singhmohancs as far as i see, the compilation is made using `universal-starter` library. Could you please enrich the issue with more information?

[2017-07-15 01:28] fulls1z3 commented on #32
@vanaio it seems like an issue with module resolution. Is it possible for you to share a codepen url, or upload to a repository on github (*so that we'll be able to reproduce the issue and see what's wrong*)?

[2017-07-19 01:02] ahmed-anas opened #36 "can't add assets"
**I'm submitting a ...**
[code]

**Current behavior**
adding `<img src="assets/pic.jpg" />` to `app.component.html` (and a pic.jpg in the assets folder) gives the error: `Can't resolve './assets/pic.jpg'`

changing the path of the asset to relative, i.e making it `<img src="../assets/pic.jpg" />` gives the error: ` Error: Path variable [chunkhash] not implemented in this context: assets/pic.[chunk

[2017-07-19 07:35] artemsoliar commented on #36
I use like this` <img src="/assets/pic.jpg" />`

[2017-07-19 09:29] ahmed-anas commented on #36
@artemSoliar In this scenario webpack doesn't add the image to the generated output public folder and I have 404 errors.

I'm using the bare `ng-seed/universal` master branch for testing this. The steps I do are

* insert a `pic.jpg` file in assets
* add `<img src="/assets/pic.jpg" />" in `app.component.html`
* run `npm run build:universal-prod`
* run `npm run serve`

[2017-07-19 09:50] artemsoliar commented on #36
in webpack.config.js file add like this
[code]
more https://github.com/kevlened/copy-webpack-plugin

[2017-07-19 10:46] ahmed-anas commented on #36
@artimSoliar thanks, that helped. Not an ideal solution but good enough.

[2017-07-19 14:39] artemsoliar commented on #32
I'm trying to use a preboot js to help manage the transition of state , and I understand require is ignored in source code below (inline.preboot.code.ts)
[code]

[2017-07-20 09:13] vlados opened #37 "unable to update dependacies"
[code]

**Current behavior**
When run `npm update` I am getting
[code]
**Expected/desired behavior**
Npm update successful

**Minimal reproduction of the problem with instructions**
1. Clone repo
2. Run `npm update`

**What is the motivation / use case for changing the behavior?**
So I can use the repo with the latest versions of node modules, install other node modules

**Please tell us about you

[2017-07-21 11:59] ahmed-anas opened #38 "production mode build fails when using packages with scss and @import"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
using a package like [ngx-chips ](https://github.com/Gbuomprisco/ngx-chips) with `scss` files having `@import` gives an error `unexpected character @` only when building in production mode
**Expected/desired behavior**
should work

**Minimal reproduction of the problem with instructions**

* install ngx-chips view `npm ins

[2017-07-25 07:58] artemsoliar opened #39 "production build issue unresolved './app/app.browser.module.ngfactory''"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
It seems to be that recently an npm dependency has been updated which causes build issues for production build  'build:universal-prod'
[code]

**Expected/desired behavior**
Prod Build should compile the production bundles

**Minimal reproduction of the problem with instructions**
Clone this repository locally
Run
[code]

P

[2017-07-25 13:59] zvanagas opened #40 "background images break source"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
If background with an image is added to any sass file, source code breaks

**Expected/desired behavior**
Source code should be generated with background image assets

**Minimal reproduction of the problem with instructions**
1. Add background-image with an url to sass file
2. Inspect source code

* **Angular version:** 4.1

[2017-07-25 14:16] artemsoliar commented on #39
after npm i enhanced-resolve@3.3.0 I can build in production
same problem https://github.com/angular/angular-cli/issues/7113

[2017-07-25 14:25] artemsoliar commented on #40
use url like this `background-image: url(/assets/pic.jpg);`
look https://github.com/ng-seed/universal/issues/36

[2017-07-25 14:50] theomathieubhvr commented on #39
Thanks @artemSoliar !

[2017-07-25 14:53] theomathieubhvr commented on #39
Fixed by 8eb90cfca5d98da2ee2cd349ac6048238604c551

[2017-07-25 14:56] theomathieubhvr commented on #36
You can also add folders path to copy directories:

https://github.com/ng-seed/universal/blob/master/config/webpack.config.js#L26

[2017-07-25 14:58] theomathieubhvr commented on #40
Closing in favor of #36

[2017-07-25 14:58] #40 closed, assigned to nobody

[2017-07-25 15:34] artemsoliar commented on #39
This is a temporary solution only when it's installed as an addition into an already up and running project.  Deployment through a fresh install with npm install with this dependency set in package.json does not work.
https://github.com/angular/angular-cli/issues/7113#issuecomment-317437131

[2017-07-25 15:48] theomathieubhvr commented on #39
You're right that's why my PR does not work
https://github.com/ng-seed/universal/pull/41

[2017-07-26 08:20] #36 closed, assigned to nobody

[2017-07-26 14:25] theomathieubhvr commented on #39
Now fixed via #41 (downgraded to webpack 3.3.0)

[2017-07-26 14:25] #39 closed, assigned to theomathieubhvr

[2017-07-27 16:07] mohitkadelongraph commented on #19
@theomathieubhvr I tried you method and I am able to get origin url but its giving an error on browser:

[code]

[2017-07-27 16:45] theomathieubhvr commented on #19
Have you created a OriginService for the browser too ?

[2017-07-28 20:30] andresantos123 opened #43 "remove compiler from AoT client bundle"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
When run "npm run build:universal-prod" the client package contains the `@angular/compiler`

**Expected/desired behavior**
The client package dont need the compiler on AOT compilations

**Minimal reproduction of the problem with instructions**
Use webpack bundle analyzer plugin to check client bundle

**What is the motivat

[2017-07-29 00:00] jrmcdona opened #44 "custom index.html head tags from a service during bootstrap"
Hi All,
Do I have the ability to include other custom  Headtags?  For example, I need to make an a service call to a trusted service to get dynamic <script> tags to be inclued in the Head.   It looks like the below code is more for config, but just wonder what I should look into to extend it.  Appreciate any direction on that!

[code]

Thanks

[2017-07-29 10:37] fulls1z3 opened #45 "re-group deps"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The deps are all in alphabetical order.

**Expected/desired behavior**
They should be re-grouped again (*see #41*).

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:** 2.0.X

* **Brow

[2017-07-29 10:39] fulls1z3 commented on #43
@andresantos123 thanks for the idea, I'll try and test this on the first opportunity.

[2017-07-29 10:40] fulls1z3 commented on #44
@jrmcdona actually yes, there was a sample implementation of this at the [angular-starter](https://github.com/AngularClass/angular-starter) repository. The same trick would work here, because the webpack config and webpack plugins of this repo were inspired from @AngularClass.

[2017-07-29 10:40] #44 closed, assigned to nobody

[2017-07-29 10:43] fulls1z3 commented on #38
@ahmed-anas I'll have a look on this on the first opportunity, and many thanks for your contributions 👍

[2017-07-29 10:46] fulls1z3 commented on #37
@vlados actually `npm` updates the deps, but displays a warning if there're any unmet peer dependencies. So, things should work fine (*because higher versions of those deps are already included in `node_modules` directory*).

[2017-07-29 10:46] #37 closed, assigned to nobody

[2017-07-29 10:47] fulls1z3 commented on #33
@theomathieubhvr I'd like to consult you about these topics too, so it would be really cool if you could enumerate here your thoughts on these topics.

[2017-07-31 08:20] ahmed-anas opened #46 "devtool with development (eval) configs"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Current we use cheap-module-source-map. When changed to an *eval* dev tool (like cheap-module-eval-source-map)  or one of the 'development' devtools, get the error `Error: HtmlWebpackPlugin: could not load file vendor.dll.js.map`

**Expected/desired behavior**
It should work.

**Minimal reproduction of the problem with ins

[2017-07-31 12:05] ahmed-anas commented on #46
I believe this might be happening because of a conflict between the style mapping file and app.module mapping file (where both are created as `app.map` but the css map file overwrite the js map file, which I guess is another bug

[2017-07-31 14:57] theomathieubhvr commented on #45
I fixed this issue in my last pull request (to avoid a lot of conflicts in package.json).

Not sure it was the best place to do it but it is done! ;)

[2017-07-31 18:05] andresantos123 commented on #43
Hi,
I made a quick test and appears that the AOT is not working. With bundle analyzer, we cant see the ng-factory generated files. Changing the webpack/tsconfig made the bundle generate the compiled files.

[2017-08-01 11:14] mohitkadelongraph commented on #5
Is there any documentation available like how we can use caching with this seed? I am kinda confused if caching is actually working or not.

[2017-08-02 09:22] fulls1z3 opened #48 "@nguniversal/express-engine not compatible w/node 8.x"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The dependency @nguniversal/express-engine does not support `node.js v8.x`.

**Expected/desired behavior**
It should support `node.js` platform `v8.x`.

**Minimal reproduction of the problem with instructions**
Running either `npm install` or `yarn` results with failure.

**What is the motivation / use case for changing th

[2017-08-02 09:23] fulls1z3 commented on #48
There's an open issue and PR on `angular/universal` repository (https://github.com/angular/universal/pull/758) but the npm package containing the `express-engine` is not up-to-date.

[2017-08-02 09:26] fulls1z3 commented on #48
@theomathieubhvr I'll need to roll back the PR https://github.com/ng-seed/universal/pull/31

[2017-08-02 10:07] fulls1z3 commented on #43
@andresantos123 actually AoT was working on **@angular** `v4.2.4` and **@ngtools/webpack** `v.1.3.3`; however after the latest PR's their versions have been upgraded and this causes the AoT to be broken.

I'm working on this now, if none works I'll roolback the **@angular** version to `v4.2.4`.

[2017-08-02 11:01] fulls1z3 commented on #43
@andresantos123 @theomathieubhvr Well, I solved this. Also it fixes the earlier https://github.com/ng-seed/universal/issues/29 and https://github.com/ng-seed/universal/issues/39.

Furthermore, mentioned the solution at https://github.com/angular/angular-cli/issues/6833.

[2017-08-02 11:02] fulls1z3 commented on #39
@artemSoliar I'll publish a fix asap.

[2017-08-02 11:33] #48 closed, assigned to fulls1z3

[2017-08-02 11:38] fulls1z3 commented on #45
@theomathieubhvr thanks dude, I also made a few last touches and it's done 👍

[2017-08-02 11:38] #45 closed, assigned to fulls1z3, theomathieubhvr

[2017-08-02 14:09] ebondu opened #49 "language switching does not work"
[code]

**Current behavior**

The page content is not updated regarding to the selected language (but the page title does)

**Expected/desired behavior**

The page content should be updated after language changed

**Minimal reproduction of the problem with instructions**
Not working on both living exemple and local

Thanks.

[2017-08-02 14:24] fulls1z3 commented on #29
@ChrisDalley this has been solved using the latest **@ngtools/webpack**.

[2017-08-02 15:33] fulls1z3 commented on #49
@ebondu it's because the page titles and meta descriptions have been pulled from the language file, but the static content on the components are hard-coded strings.

[2017-08-02 15:33] #49 closed, assigned to nobody

[2017-08-02 17:00] fulls1z3 commented on #38
@ahmed-anas done 👍

[2017-08-02 17:00] #38 closed, assigned to fulls1z3

[2017-08-02 17:00] fulls1z3 commented on #36
@ahmed-anas, @artemSoliar, @theomathieubhvr  done 👍

[2017-08-02 17:00] fulls1z3 commented on #14
@jason-candeo  done 👍

[2017-08-02 17:00] #14 closed, assigned to fulls1z3

[2017-08-02 17:01] #35 closed, assigned to fulls1z3, theomathieubhvr

[2017-08-02 17:03] fulls1z3 commented on #43
@andresantos123 now the AoT got solved, do you have any suggestions on this topic?
@theomathieubhvr I'd like to hear your opinions also.

Also, this might be connected with `@ngx-universal/state-transfer` https://github.com/ngx-universal/state-transfer/issues/9

[2017-08-02 17:05] #34 closed, assigned to nobody

[2017-08-02 17:14] fulls1z3 commented on #46
@ahmed-anas I'll try to look at this, but gave the priority to issues with higher priority considering the limited time I've got because of my work schedule.

@theomathieubhvr I'd like to consult you about this too (*I know I asked much nowadays :smile:*)

[2017-08-02 17:14] #33 closed, assigned to nobody

[2017-08-02 17:15] #32 closed, assigned to nobody

[2017-08-02 17:31] fulls1z3 commented on #5
@mohitkadelongraph you can have a look at https://github.com/ngx-cache/core

[2017-08-02 22:10] fulls1z3 commented on #7
@cveld just integrated `preboot` to this repo. I think we can handle state-transferring features using it, but I assume it requires some extra work for the `ngx-cache` project.

So, work is still in progress 😄

[2017-08-03 04:13] theomathieubhvr opened #50 "how to debug universal prod build"
**I'm submitting a ...**  (check one with "x")
[code]
Hi,

Is there any way to trigger a debug for the aot universal production build ? Cause I have this issue 'No provider for t' and I can't figure out why...

Thanks ;)

[2017-08-03 08:11] ebondu commented on #49
Sorry about that, I didn't take the time to inspect the code to see messages was hardcoded... I noticed the official angular i18n tool was not part of the project, did you plan to switch to the official tool ?

[2017-08-03 08:34] ChrisDalley commented on #29
@fulls1z3 - Thanks for the update :)

[2017-08-03 09:16] fulls1z3 commented on #49
@ebondu it's ok, meanwhile we can't introduce the official i18n tool immediately, still a lot of people depend working with `ngx-translate`.

Furthermore, many libraries depend on `ngx-translate`, so we need to wait them rewritten according to the official angular i18n.

[2017-08-03 09:26] fulls1z3 commented on #50
You're seeing the message `Uncaught Error: No NgModule metadata found for 't'.` because `UglifyJs` is minifying the source. Actually `t` might refer to `AppModule`, `Compiler`, etc. (as they were discussed on https://github.com/ng-seed/universal/issues/29 and https://github.com/angular/angular-cli/issues/6833).

In order to disable minifying, you'll need to customize your `config/webpack.config.js

[2017-08-03 11:45] ebondu commented on #49
Thanks for your reply. It make sense to wait for a better support of the official i18n in other libs/deps. Any idea about a roadmap for this evol ?

[2017-08-03 11:47] fulls1z3 commented on #49
@ebondu currently not, we need to see and check Angular 5.0 generally available release first.

[2017-08-03 12:58] ebondu commented on #49
Ok thanks, I will keep an eye on the projet. Great job ;)

[2017-08-03 13:19] theomathieubhvr commented on #50
Thanks I just got a 'No provider for StateTransferService!'
I am going to be able to debug this now.

Many many thanks 👍

[2017-08-03 13:19] #50 closed, assigned to nobody

[2017-08-03 19:57] fulls1z3 opened #52 "add `ngrx`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
This project does not have any (*transient*) state management solution.

**Expected/desired behavior**
**ngrx** `v4.x` could be introduced.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**
As well as being a seed project for Angular/SSR development

[2017-08-03 20:03] fulls1z3 opened #53 "add `material2` and `flex-layout`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
The project has a very primitive UI.

**Expected/desired behavior**
Leveraging the power of `@angular/material2` and `@angular/flex-layout`.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**
Using `@angular/material2` and `@angular/flex-layout` on a

[2017-08-03 21:21] fulls1z3 opened #54 "enable `prod` mode for AoT builds"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Please tell us about your environment:**

* **Angular version:** 2.0.X

* **Browser:** [all | Chrome XX | Firefox XX | IE XX | Safari XX | Mobile Chrome XX | Android

[2017-08-03 21:23] #54 closed, assigned to fulls1z3

[2017-08-05 10:37] Master-Spirit opened #55 "using C modules with webpack"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Everything work great! Untill I try to use any module written on C, I get error, while _npm run build:universal-dev_:
[code]
As far as I understand, it's necessary add that module as external to webpack.config, but I'm newer work with webpack and don't understand how to do this.

**Minimal reproduction of the problem with

[2017-08-07 19:01] andresantos123 commented on #43
@fulls1z3 Now AOT is working like a charm! Tried a way to remove the compiler based on another starters without success.

[2017-08-13 22:37] Master-Spirit commented on #55
I found some solution for my problem. Maybe it's be useful for someone.

[code]

The same can be used for any other modules.

PS: Perhaps the solution is not the best, but I have not found another.

[2017-08-14 18:24] kkaabbaa opened #57 "warning: ./node_modules/express/lib/view.js"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I did not change anything in the code, just clone your version
When I try to run `$npm run build:universal-dev`
I have error:

[code]

**Please tell us about your environment:**

macOS Sierra

* **Node (for AoT issues):** `node --version` =   v6.11.1

[2017-08-15 18:59] dr1ss commented on #19
Any way to achieve this (get the express request object) with @ngx-universal/express-engine please ?

[2017-08-16 09:26] dr1ss opened #58 "inject the request object from express ?"
Hello guys,
I'm struggling to do something pretty simple : Grab the current hostname (domain name) and display it on a component. (I have multiple domain names pointing to the same application, so I need to get the hostname dynamically)
In a browser environment, I simply get it with document.location.hostname but since I'm using Universal, there is no such thing as document in a server environment

[2017-08-16 13:13] dr1ss commented on #58
Figured how to do this.. (ngx-universal/express-engine provides both request and response) sorry about that..

[2017-08-16 13:13] #58 closed, assigned to nobody

[2017-08-16 17:29] PTC-JoshuaMatthews commented on #57
+1

[2017-08-16 18:06] PTC-JoshuaMatthews opened #59 "styles not rendering properly on server with fresh clone"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
After cloning the repo, doing npm install, then build then serve, there is a style difference between the server rendered initial view and the client rendered view once it passes over.

**Expected/desired behavior**
views from server and client should use same styles

**Minimal reproduction of the problem with instructions

[2017-08-17 09:34] fulls1z3 commented on #59
@PTC-JoshuaMatthews that's a duplicate of #15, and we're currently working on it as well as tracking the updates from Angular.

[2017-08-17 09:34] #59 closed, assigned to nobody

[2017-08-17 09:36] fulls1z3 commented on #58
@dr1ss it's ok, and glad that express-engine helped you with it 👍

Meanwhile, don't hesitate to ask when you have further questions. I'll try to help everyone as time allows me.

[2017-08-17 18:57] PTC-JoshuaMatthews commented on #59
@fulls1z3  But #15 is closed... is the issue moved somewhere else?

Also they seem to be talking about a flicker, but what I am seeing is that server global imported styles are not applied at all, not just a flicker when it hands over rendering to the client. It makes my pages stylesless since no bootstrap css on the server rendered pages.  Is the flicker issue they are referring to really that ba

[2017-08-18 00:39] dr1ss commented on #58
Thank you @fulls1z3 , still new to the angular world.. and there is so many things to figure out, especially with Universal.

[2017-08-18 00:40] dr1ss commented on #52
This would be pretty cool indeed

[2017-08-18 13:20] ld-gary opened #60 "vendor libraries not included in build after adding to vendor array in build-config"
[ ] bug report
[x] support request
[ ] feature request

**Current behavior**
After installing a third party package (bootstrap-loader and swiper... in this instance) I am adding a reference to them in the vendor array of build config but they are not being included in the build. I have tried running a dev build then restarting spa-hmr but no dice. Apologies if I'm missing a step due to ignorance h

[2017-08-18 18:05] dr1ss opened #61 "universal + UglifyJS + Third party libraries = fail in production ?"
[code]

**Current behavior**
The universal production compilation fails with various messages from uglifyJS depending on used libraries :

#### ERROR When using nodemailer ####
`
Error: server.js from UglifyJs
Unexpected token: operator (>) [server.js:16880,41]
    (1) error(s) total.
`
#### ERROR When using mongoose ####
`
Error: server.js from UglifyJs
Invalid assignment [server.js:206539,48]

[2017-08-18 18:21] dr1ss commented on #61
Not sure what's the benefit of using uglifyJS for the server... I just ended up removing uglifyJS for the server side in angular-webpack-config

[2017-08-18 18:52] fulls1z3 commented on #61
@dr1ss which version of UglifyJS was included in your project? You should include `v2.8.22` of `harmony` branch for es6 compability, otherwise any version else than this will throw an error. Can you please confirm that you included the following package in your `package.json`?

[code]

[2017-08-18 23:43] dr1ss commented on #61
Hello,
just got back home.. so yeah that's what I'm using : UglifyJS2#harmony-v2.8.22
So in my case it seems like there is 2 different problems, the first (with nodemailer) is apparently linked to ES6 when I replaced it with nodemailer2 wich they say (https://www.npmjs.com/package/nodemailer2)  "with no ES6 shenanigans used that would break your production app" it compiles without any error.

The

[2017-08-19 00:52] dr1ss commented on #61
New update.
Still have the warnings but no more 'Invalid assignment' compilation error.
I deleted the node_modules folder and reinstalled everything with npm. I was using yarn.
I've no idea why yarn is the problem (I even cleared yarn's cache and reran the install but still got the same issue)

[2017-08-20 21:00] #61 closed, assigned to nobody

[2017-08-21 17:40] fulls1z3 commented on #58
@dr1ss don't worry all of us were new to this world some time ago, and if we talk about Angular there're really many things to learn, adapt and master on.

Don't hesitate to ask questions when you're stuck with something. I'll try to answer and help as time allows.

[2017-08-22 10:08] fulls1z3 commented on #61
@dr1ss now I see, some other deps might probably require a newer version of UglifyJS and that's the reason why you were getting these errors.

With minimal configuration/deps, it's fine with both yarn and npm.

[2017-08-22 10:09] fulls1z3 commented on #52
@dr1ss I think within two weeks, we'll be there.. Soon I'll upload a list of tasks, and everybody will be able to track the status.

[2017-08-24 21:05] ghost opened #62 "is there an option to make the build watch the source and hotload changes?"
Currently the build process each time I change something in either the client or the server is too long to be workable.

Is there a way to get the build process to watch the files and do a hot-module-replace or something? I'd like to be able to develop the server + client code at the same time.

[2017-08-24 21:24] ChrisDalley commented on #59
@fulls1z3 @PTC-JoshuaMatthews - I am seeing a similar issue where certain styles are not being rendered on the server side, not just a simple screen flicker between multiple renders. It looks like certain styles are either missing or mis-ordered on the page rendered by the server though I need to look into it properly over the next day or two. Could possibly be a difference in the webpack config f

[2017-08-24 21:42] ChrisDalley commented on #59
Scratch that, after looking a little deeper mine seems to be a separate issue with image urls in the scss which are getting rewritten into a load of jibberish on the server side that then stops any css after the url in the scss from being loaded related to #40

[2017-08-29 23:53] patrickmichalina commented on #62
My starter does it here:

https://github.com/patrickmichalina/fusebox-angular-universal-starter

[2017-08-30 06:52] fulls1z3 commented on #62
@TheRationalizer for the client platform, there's already the HMR support - but not yet for the server platform. Did you mean that?

@patrickmichalina I took a look at your repo, great job 👍

[2017-09-03 20:21] fulls1z3 opened #63 "provide unit tests and coverage"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-03 20:21] #62 closed, assigned to nobody

[2017-09-03 21:05] ghost commented on #62
If you switch to using ts-node-dev instead of ts-node it will hotload your changes, it is pretty much instant.

https://www.npmjs.com/package/ts-node-dev

[2017-09-03 21:06] fulls1z3 commented on #62
@TheRationalizer seems like worth giving it a try ;)

[2017-09-05 09:34] Skillnter commented on #15
Is there any update on flickering issue??

[2017-09-05 12:20] fulls1z3 commented on #15
@Skillnter we're working on this issue, as well as other enhancements to this seed project - so soon I'll be able to share some updates.

[2017-09-08 18:29] vlados opened #64 "use angluar-cli"
**I'm submitting a ...**  (check one with "x")
[code]
How we can create new component or service?

[2017-09-08 18:33] vlados opened #65 "is there some kind of documentation"
**I'm submitting a ...**  (check one with "x")
[code]

I am having hard time to understand some of the things that you made. It will be very helpful if there is some kind of documentation or tutorial.

- For example why the components are named for example "+about"?
- How we can use the routes in each component?
- How we can use the server side rendering in production env?

[2017-09-09 13:02] fulls1z3 commented on #64
@vlados unfortunately not, angular-cli does not allow using a custom webpack config. Actually that was the reason why I created this seed project.

[2017-09-09 13:02] #64 closed, assigned to nobody

[2017-09-09 13:03] fulls1z3 commented on #65
@vlados a better documentation is on its way, while pushing a few killer features to this repository. Probably within a few days, you'll have all these answers on the readme.

[2017-09-09 13:03] #65 closed, assigned to nobody

[2017-09-09 13:31] vlados commented on #65
I am loving how you made angular on steroids 🥇  and I will be happy to contribute, once I understand it :)

[2017-09-09 13:37] fulls1z3 commented on #65
@vlados I always believe in giving to the open-source community by sharing some of the projects we build for our applications. Any contributions are always welcome 👍

[2017-09-09 16:18] fulls1z3 opened #69 "add client framework"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
This project does not have a client framework.

**Expected/desired behavior**
An implementation of client framework located at `src/app/framework` containing shared modules and services would help separation of concerns as well as creating a common code base.

**Minimal reproduction of the problem with instructions**

**Wh

[2017-09-09 23:30] #63 closed, assigned to fulls1z3

[2017-09-10 01:09] #52 closed, assigned to fulls1z3

[2017-09-10 01:09] #69 closed, assigned to fulls1z3

[2017-09-10 02:38] fulls1z3 opened #73 "uglifyJS fails minifying the universal bundle"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Just after running `npm run rebuild:universal-prod`, the process results as below:
[code]

**Expected/desired behavior**
The build process should succeed.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**
I found out that `supports-color` library ca

[2017-09-10 03:11] #73 closed, assigned to fulls1z3

[2017-09-10 04:47] fulls1z3 opened #77 "run tests with jest"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-10 05:02] #77 closed, assigned to fulls1z3

[2017-09-10 05:11] fulls1z3 commented on #52
@dr1ss done, have a look when u have time and feel free to make your comments

[2017-09-10 05:11] fulls1z3 commented on #52
Also, closes https://github.com/fulls1z3/ngx-config/issues/18

[2017-09-10 05:21] #60 closed, assigned to nobody

[2017-09-10 05:21] #55 closed, assigned to nobody

[2017-09-10 15:09] Quixomatic commented on #62
@TheRationalizer can you explain what changes you had to make? The readme on the repo isn't very informative for ts-node-dev

[2017-09-10 15:11] fulls1z3 commented on #62
@Quixomatic I'm testing some webpack tools for rapid rebuild (currently achieved ~750ms), in a few days you won't need to worry about that at all 😄

![untitled-1](https://user-images.githubusercontent.com/19705684/30250253-af83bc92-9653-11e7-869b-188bab581319.png)

[2017-09-10 16:54] ghost commented on #62
@Quixomatic do a global installation of ts-node-dev, and then edit your json files to use ts-node-dev instead of ts-node

[2017-09-11 00:06] fulls1z3 opened #79 "use HardSource plugin with DllBundle"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Build times are too high.

**Expected/desired behavior**
Use Hard Source plugin in combination with Dll Bundle plugin to obtain lightning-fast builds.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

*

[2017-09-11 00:07] fulls1z3 opened #80 "use official express-engine (again)"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**
@theomathieubhvr I'll try to merge your PR once again, as the official express-engine supports nodejs v8 now.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser

[2017-09-11 06:28] rahulmodu opened #81 "server side render taking too much time"
i am using your repo and injected my project into this repo after this on server side redering taking too much time to render .
I have not used lazyLoding . can you please tell  what problem is coming into my project

[2017-09-11 08:33] rahulmodu opened #82 "using absolute path in templates"
1. How can i use assets path in my project as absolute path.

e.g. gives me error in home.component.ts file =>
" src="assets/img/background.png" "

while this works fine =>
src="./../../../assets/img/background.png"

2. Also how can i use assets path in sass folder ? I want to use absolute path in sass files.

[2017-09-11 18:30] Vikasbansal1234 opened #83 "fail to uglify on some es6 code"
I am using socke-io in my project the build is created successfully when i run command npm run build:universal-dev but it is not creating build on production please can u tell me the what the exact issue is :: Here is Err::

**Error: server.js from UglifyJs
Unexpected token: name (PerMessageDeflate) [server.js:53927,6]

    (1) error(s) total.**

[2017-09-11 18:54] rahulmodu commented on #83
I have same issue , if you will get any solution then reply me

[2017-09-11 20:51] fulls1z3 commented on #83
@Vikasbansal1234 @rahulmodu it's **UglifyJS**, even though I suffered from it much. Usually it happens when there's some kinda ES6 code that **UglifyJS** cannot process.

It appears that we need to plan a smooth transition from **UglifyJS** to **UglifyES**, otherwise we'll hear more from this issue.

I convert this issue to type *bug*, going to track it here and announce everyone when a fix is gon

[2017-09-11 20:53] fulls1z3 commented on #82
@rahulmodu have a look at [angular-webpack-config](https://github.com/ng-seed/angular-webpack-config#-usage), setting the `publicPath` property of `build-config.json` from *relative* to *absolute* might help.

[2017-09-11 20:53] #82 closed, assigned to nobody

[2017-09-11 20:55] fulls1z3 commented on #81
@rahulmodu you're not alone, my builds are taking quite long time 😄

Reducing build times a top priority, and planning a solution consisting of a few steps. The first one is going to be merged overnight - you can follow #79 and `build-dll` branch for more details.

[2017-09-11 20:55] #81 closed, assigned to nobody

[2017-09-11 21:04] deefactorial opened #85 "require webpack-dev-middleware package"
if I run:

[code]
I get the error `Error: Cannot find module 'webpack-dev-middleware'

I fixed it by running the command:

[code]

[2017-09-11 21:07] fulls1z3 commented on #85
@deefactorial known issue, already included in `build-dll` branch as of yesterday. If things go alright, going to release `v1.0.0` overnight, and we'll use semantic versioning for further releases.

[2017-09-11 21:11] deefactorial commented on #85
@fulls1z3 thank you for heads up, I'll look for the update. Thanks for all your great work on this project.

[2017-09-11 22:35] #79 closed, assigned to fulls1z3

[2017-09-11 22:35] #85 closed, assigned to fulls1z3

[2017-09-11 23:38] #80 closed, assigned to fulls1z3

[2017-09-12 06:50] rahulmodu commented on #81
my question is rendering time taking too much time after building, my question is not making build.

[2017-09-12 10:40] rahulmodu opened #89 "jquery and jquery related plugins usage"
i am getting error while using jquery , can not found any documentation related to usage in server side rending

[2017-09-12 11:01] ahmed-anas commented on #89
when doing SSR you don't have the 'window' object so you cant use jquery. You'll need to use a bunch of ifstatements with browser checks.

[2017-09-12 11:04] ahmed-anas opened #90 "some @types do not work with spa-dev build"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
`npm run build:spa-dev` with some typings (i.e `@types/google-maps`) does not work. gives error: `Error: Cannot find module '@types/google-maps'`
**Expected/desired behavior**
it should work

**Minimal reproduction of the problem with instructions**
in a fresh universal install do:
[code]

[2017-09-12 15:44] Vikasbansal1234 commented on #83
Hey,
I have migrated my code from angular-cli to ng-seed ,but I am not able to make proudction build can u help me how can i replace the uglifyjs to uglifyes so that i can deploy my code to production.

[2017-09-12 16:09] fulls1z3 opened #91 "property `toBeObservable` does not exist on type `Matchers<void>`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Testing the effects requires `jasmine-marbles` package, which does only support `jasmine` types, not `jest` types.

Tests run OK, but the IDE shows the following warning:

[code]

Trying `rxjs-marbles` did not result well, somehow it skips some hits.

**Expected/desired behavior**
We need a package such as `jest-marbles`,

[2017-09-12 16:10] fulls1z3 commented on #89
@rahulmodu @ahmed-anas I wanted to answer, but it seems like @ahmed-anas explained it so well 👍

[2017-09-12 16:10] #89 closed, assigned to nobody

[2017-09-12 16:11] fulls1z3 commented on #90
@ahmed-anas I'll have a look on it soon.

[2017-09-12 16:59] fulls1z3 opened #92 "provide e2e tests"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-12 17:26] #92 closed, assigned to fulls1z3

[2017-09-12 17:56] #91 closed, assigned to fulls1z3

[2017-09-12 19:22] fulls1z3 opened #96 "add compodoc"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-12 20:00] #96 closed, assigned to fulls1z3

[2017-09-12 21:21] kaoz70 opened #100 "environment variables"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I cant find a way to set variables depending on builds

**Expected/desired behavior**
A way to add something like environment variables for the development and production builds.

**Minimal reproduction of the problem with instructions**
NA

**What is the motivation / use case for changing the behavior?**
Set an API URL on

[2017-09-13 00:10] fulls1z3 opened #101 "wrong tsconfig structure"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
`./tsconfig.json` and `./src/tsconfig.json` are structured in an erroneous way.

**Expected/desired behavior**
It should be structured as below:

[code]

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

[2017-09-13 00:12] #101 closed, assigned to fulls1z3

[2017-09-13 18:41] #53 closed, assigned to fulls1z3

[2017-09-13 19:01] fulls1z3 opened #104 "use stylelint-config-standard"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
There're too many rules is `stylelint.config.js` it's difficult to manage upon every *Stylelint* update.

**Expected/desired behavior**
Use the official `stylelint-config-standard` and override required rules.

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the b

[2017-09-13 19:15] #104 closed, assigned to fulls1z3

[2017-09-13 21:41] fulls1z3 opened #106 "use ngx-perfect-scrollbar"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-13 21:50] #106 closed, assigned to fulls1z3

[2017-09-13 21:53] fulls1z3 opened #108 "falsy tslint warnings"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
TSlint (*actually codelyzer*) shows warnings about there must be spaces around pipes.

**Expected/desired behavior**
There are spaces, however we get those warnings. Adding `angular-whitespace` rule will help us avoid these falsy warnings.

**Minimal reproduction of the problem with instructions**

**What is the motivation

[2017-09-13 21:54] #108 closed, assigned to fulls1z3

[2017-09-13 22:14] fulls1z3 opened #110 "increase code coverage"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-14 00:59] #110 closed, assigned to fulls1z3

[2017-09-14 02:52] fulls1z3 opened #114 "use concurrently for watch and e2e"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-14 03:24] #114 closed, assigned to fulls1z3

[2017-09-14 03:45] fulls1z3 opened #117 "add Github button to the header"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-14 03:47] #117 closed, assigned to fulls1z3

[2017-09-14 03:51] fulls1z3 opened #118 "add basic JWT-based authentication with ngx-auth"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-15 01:09] #118 closed, assigned to fulls1z3

[2017-09-15 01:11] fulls1z3 opened #122 "state management (ngrx) for auth module"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-15 12:29] rahulmodu opened #125 "use js file"
where to add  .js files of external library to make it a part of chunk or bundle

[2017-09-16 12:06] rahulmodu commented on #125
where to add .js files of external library to make it a part of chunk or bundle, how can be done.

[2017-09-16 14:35] fulls1z3 commented on #125
@rahulmodu you have to include those libraries within the application code in order to be bundled.

If that's not the case, use the **html-elements-webpack-plugin** by adding the required library's URL to `tools/config/html-elements-config.js`. This way you *js* library can be called via CDN or external source.

You can find more information about **html-elements-webpack-plugin** on https://github

[2017-09-16 14:35] #125 closed, assigned to nobody

[2017-09-16 20:59] fulls1z3 opened #145 "rename `tools/build/build-config.json` to `build.json`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**
- https://github.com/ng-seed/angular-webpack-config/issues/31

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chro

[2017-09-16 21:19] fulls1z3 opened #146 "replace custom icon at toolbar with native toolbar icon"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2017-09-17 02:33] fulls1z3 opened #148 "use project-specific custom material module"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
`MaterialModule` has therefore been deprecated, the project imports individual modules from `@angular/material` package.

**Expected/desired behavior**
A project-specific custom material module should be introduced - importing and exporting only the needed components - and should be imported by `AppModule` and `SharedModul

[2017-09-18 15:03] vlados opened #149 "add image assets"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Currently I am not seeing any code for processing images and optimizing images.

**Expected/desired behavior**

1. Create folder /assets/imgages/
2. Put any image file
3. Link it from Angular or Sass
4. View it in browser as optimized image

[2017-09-18 16:29] vlados commented on #149
How I can integrate https://github.com/tcoopman/image-webpack-loader for example?

[2017-09-21 09:14] fulls1z3 commented on #149
@vlados looks like it could be a good enhancement for [angular-webpack-config](https://github.com/angular-webpack-config)

I'm closing this in favor of https://github.com/ng-seed/angular-webpack-config/issues/32

[2017-09-21 09:14] #149 closed, assigned to nobody

[2017-09-21 09:34] Aventrue opened #150 "process.env.PORT is overwritten to undefined"
I want to host your example in ISSNODE. The NODE receives the port from ISS which will be a pipe name. This is normaly stored in process.env.PORT, but ATM is somehow overwritten to undefined.
In an earlier version of your example I changed
[code]
to
[code]
in the file config/webpack.common.js, so that the port is not getting overwritten. But now this file doesn't exist anymore and I can't find whe

[2017-09-21 09:37] fulls1z3 commented on #150
@Aventrue I totally get what you're meaning, actually I did it by manually editing server.js and replacing the port number (*in this example it was `8k3`*) with `process.env.PORT`.

In other deployments didn't have any problems, but on IISNODE - yes!

Simply apply the workaround I suggested for now, and I'll think about covering this functionality together with Azure deployment after successful CI

[2017-09-21 09:46] Aventrue commented on #150
I'm sorry but I don't get what you mean. The process.env.PORT variable is undefined and doesn't contain the pipe name. Did you mean that?
[code]

[2017-09-21 09:48] fulls1z3 commented on #150
@Aventrue are you using the default `build.config.json` in *tools/build* directory?

[2017-09-21 09:53] Aventrue commented on #150
I tried it with the original and a modified one where I removed the port Setter:
[code]

[2017-09-21 10:33] Aventrue commented on #150
I found a workaround:
In changed
[code]
to
[code]
in node_modules\angular-webpack-config\src\webpack.common.js

Then in I've to move the files from .server to the root directory in the deployment and add this webconfig:

[code]

[2017-09-21 12:17] Aventrue opened #151 "deactivate lazy loading of modules for SEO with server rendering"
How can I deactivate the lazy loading of a modul with angular universal?
As an example when I access the page "About" that I get then the full HTML content inside the first pageload.
I see that in the routes this modules are specified as lazy, which is good on the client side but by server rendering, everithing should be there in the first request.

[code]

[2017-09-21 16:00] Vikasbansal1234 opened #152 "where to put external .js files of plugins to make it part of bundle"
I am using external plugins for animation having js and css files but I  dont know where should I put these .js files in project so that it would become of part of bundle created by build .Please let me know. like Modernizer,TweenMax. etc

[2017-09-22 11:58] Angry-Potato opened #156 "allow PORT configuration at app startup"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Setting env variable PORT to a desired value prior to running `npm run serve` has no impact on the app.

**Expected/desired behavior**

Setting PORT env variable before running `npm run serve` configures the express server to listen on the specified port.

**What is the motivation / use case for changing the behavior?**

[2017-09-22 16:21] saravmajestic opened #158 "language selection is not persistent after page reload"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When I select Turkish language using language menu, after page reload, this state is not saved. ie. it loads English content again.

**Expected/desired behavior**

Page should load with turkish content

**Minimal reproduction of the problem with instructions**

- git clone this repo
- run `npm run serve:watch`
- go to loc

[2017-09-23 14:46] calebeaires opened #159 "will src/server code logic be exposed?"
**I'm submitting a ...**  (check one with "x")
[code]

**Question**:
I have made some confusion about what ng-seed/universal (Angular Universal) can do. Is it just an pre-render application or it is a full secury server side endpoint? Can I built an app using Angular Universal with no worries if the user will know about my app logic? Can I replace my Express server side that handle user login with

[2017-09-23 15:00] ghost opened #160 "_"
_

[2017-09-23 15:48] gianpaj commented on #152
see `/universal/tools/config/html-elements.config.js` and issue #125

[2017-09-24 21:33] Angry-Potato commented on #156
for anyone with a similar issue who happens to end up here, use @rallu 's fork of angular webpack config https://github.com/rallu/angular-webpack-config which removes the defineplugin, and redefine it yourself in webpack.config.js as

[code]

this leaves `process.env.PORT` intact in the server code.

[2017-09-25 06:00] rallu commented on #156
Having DefinePlugin in the project that has NodeJS server is a bad idea in my opinion. It prevents use cases like this (I had the same problem) and other cases where you need really to have system ENV variables for you.

I would suggest that ng-seed/universal would build their own env system totally separate from system ENV.

[2017-09-25 08:58] Angry-Potato commented on #156
I agree, I only suggest putting DefinePlugin back in as a few things broke without it, and fixing them is beyond me (too lazy) at the moment.

[2017-09-25 19:26] juanmarin-co commented on #100
@kaoz70 do you found a way to achieve that ? Thanks

[2017-09-26 19:37] vlados opened #162 "how to deploy"
**I'm submitting a ...**  (check one with "x")
[code]
So, how I can use the stack in production environment?
If I run npm run serve and setup nginx to use upstream localhost:8000 is it going to be ok?
And is it doing initial server rendering and then loading the SPA for better UX?

[2017-09-26 20:35] fulls1z3 commented on #151
@Aventrue actually, when a certain page is requested, the appropriate page gets rendered. You can try this behavior by using the *view page source* feature of Chrome. Simply navigate to a certain page, right click, choose *view page source* and let Chrome open it on a new tab. Then, go to that tab, and press F5.

If that page is not subject to *authorization*, it will be rendered. However, if you

[2017-09-26 20:35] #151 closed, assigned to nobody

[2017-09-26 20:36] fulls1z3 commented on #152
@Vikasbansal1234 thanks 👍

[2017-09-26 20:36] #152 closed, assigned to nobody

[2017-09-26 20:38] fulls1z3 commented on #150
@Aventrue thanks for the information, I moved it to our to-do list and gonna process it as soon as time lets me 👍

[2017-09-26 20:51] fulls1z3 commented on #156
@Angry-Potato @rallu actually it's possible to override plugins right at the [webpack.config.js](https://github.com/ng-seed/universal/blob/master/tools/build/webpack.config.js).

on https://github.com/ng-seed/universal/blob/master/tools/build/webpack.config.js#L71, https://github.com/ng-seed/universal/blob/master/tools/build/webpack.config.js#L74 and https://github.com/ng-seed/universal/blob/maste

[2017-09-26 20:51] #156 closed, assigned to nobody

[2017-09-26 20:55] fulls1z3 commented on #156
@Angry-Potato @rallu if you feel that an own env system totally separate from system ENV, you can always contribute with your use cases/ideas as well as PRs to this repo and [angular-webpack-config](angular-webpack-config).

[2017-09-26 20:59] fulls1z3 commented on #160
@megamindbrian the SASS files which are included in this repo are still experimental, and functionality/layout is subject to changes soon. I see, there's a lack of documentation for the SASS files, and we should cover it somehow.

For now, I could suggest you to play with [ViewEncapsulation](https://angular.io/api/core/ViewEncapsulation) at the components - at least this will allow you to use glob

[2017-09-26 20:59] #160 closed, assigned to nobody

[2017-09-26 21:16] fulls1z3 commented on #159
@calebeaires I think I understand what you meant. The answer is, yes any logic on an Angular project is exposed to the public.

It's one of the common best practices to to separate back-end and front-end from each other. When you need to perform some server-side logic, leverage the advantage of REST APIs - with appropriate authentication/authorization implementation, the REST APIs will stay secure

[2017-09-26 21:16] #159 closed, assigned to nobody

[2017-09-26 21:20] fulls1z3 commented on #158
@saravmajestic refreshing the browser actually causes loss of the state. As a result, the language gets reset.

I think you pointed out a good issue, added this to our to-do list. There're several possibilities how we can store this language value (*ex: cookie, local-storage, or even on a file at server*).

[2017-09-26 21:23] fulls1z3 commented on #162
@vlados it depends, my friend. On azure - I had to replace all occurrences of `8000` (*or `8k3` - when minfied*) with `process.env.PORT` - because of the limitations of IISNODE.

I'll have a try on other platforms including Heroku, Google Cloud Platform, and AWS - and I'll also try to trigger a deploy via Github/CircleCI, and then share the knowledge on the README together with the deploy/publish

[2017-09-27 05:51] vlados commented on #162
I am doing it on DigitalOcean and I will do everything manually to understand the process and after that I can make some scripts for automation.
So I have the ready to use application with npm run build:universal-prod and if I run server.js is doing the first request with server rendering and after this everything is like a normal SPA?

[2017-09-27 19:18] derrick-babb opened #167 "default build failure 'copy:index.html' errored"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Default build fails

**Expected/desired behavior**

Default build succeeds

**Minimal reproduction of the problem with instructions**

git clone https://github.com/ng-seed/universal;
cd universal;
npm install;
--yarn fails, see note below
npm run clean
--task **rimraf .cache .server/server* .temp public** fails to complet

[2017-09-27 19:35] derrick-babb commented on #167
In this case /home/d/Files is a CIFS mount to a Samba share with UNIX extensions enabled. Running on this share was the problem. Repeating the same steps on the local FS was successful.

[2017-09-27 19:35] #167 closed, assigned to nobody

[2017-10-04 00:01] vlados opened #173 "fonts are not loaded in browser"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Currently when I add some local fonts to the css they are copied to /public/assets/assets but in the compiled css it's trying to load  http://localhost:1337/assets/assets/assets/ubuntu-regular-webfont.639f70ec3b8abfce8b7805773583dd42.woff2

If I try to change /tools/build/build-conf.json and set publicPaths to /assets/ it'

[2017-10-08 16:56] degendeveloperatwork opened #175 "await universal-compliant ngx-perfect-scrollbar"
For Angular Universal, when you look the content is wrapped up in *ngIf="isBrowser"  is not outputted in "open source" -> view-source:http://localhost:8000 , but to my understanding, it should be as it is Angular Universal.

[2017-10-09 17:43] vlados opened #177 "cannot use ngx-store"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
1. Install https://github.com/zoomsphere/ngx-store
2. run `npm run build:universal prod`
3. run `npm run serve`

Error:
ReferenceError: localStorage is not defined
    at Object.<anonymous> (/Users/personal/code/udoma/webapp/.server/server.js:1:2943050)
    at __webpack_require__ (/Users/personal/code/udoma/webapp/.server/

[2017-10-09 19:50] vlados commented on #177
Probably it was a problem with the module. I switched to https://github.com/PillowPillow/ng2-webstorage and it works perfectly for now

[2017-10-09 19:50] #177 closed, assigned to nobody

[2017-10-10 15:01] rahulmodu opened #178 "window is not defined"
using version
npm -v  =>   5.3.0
node -v  =>  v6.11.1
i am getting error while creating a build of
'build:spa-prod'
error coming===>>   ERROR { ReferenceError: window is not defined

i have used isBrowser check.
how can i fix this problem.

[2017-10-11 09:57] ChrisTarasovsAngularDev opened #180 "integrate ngrx/store-devtools"
Is there a way to intergrate ngrx/store-devtools so I am to see the state in http://extension.remotedev.io/

[2017-10-11 22:45] fulls1z3 commented on #180
@ChrisTarasovsAngularDev if i remember correctly, this was included in earlier commits. However, it was removed due to broken builds while upgrading the Angular version.

Actually we can put this again on our roadmap, but it needs high level of caution.

[2017-10-11 23:36] degendeveloperatwork commented on #180
@fulls1z3 after spending a lot of hours a found a way to get it integrated and now testing it :)

[2017-10-12 10:38] bnlambert commented on #180
Please share

[2017-10-13 11:11] fulls1z3 commented on #180
@ChrisTarasovs these are great news, would you consider firing a PR including your changes?

[2017-10-13 11:13] fulls1z3 commented on #178
@rahulmodu any non-universal-compliant library can cause this error. You need to test the external libraries one-by-one and find the failing one.

[2017-10-13 11:13] #178 closed, assigned to nobody

[2017-10-13 11:17] fulls1z3 commented on #175
@ChrisTarasovs there was an implementation of *ngx-perfect-scrollbar* which was non-universal-compliant at the moment those pages were committed. Wrapping it up with `*ngIf="isBrowser"` was the only way to prevent it being processed by the server bundle.

Actually, you found out a great point - we have to keep an eye open on the status of *ngx-perfect-scrollbar*, and remove those wrappers at the m

[2017-10-13 11:19] fulls1z3 commented on #173
@vlados I understood the use case you need to get this working. Closing this issue, as it's going to be tracked on https://github.com/ng-seed/angular-webpack-config/issues/33

[2017-10-13 11:19] #173 closed, assigned to nobody

[2017-10-13 11:43] fulls1z3 commented on #162
Honestly I have no information about DigitalOcean but as long as you use an express server, should work the way you mentioned.

[2017-10-13 11:43] #162 closed, assigned to nobody

[2017-10-13 15:51] #145 closed, assigned to nobody

[2017-10-13 16:03] #83 closed, assigned to fulls1z3

[2017-10-13 16:04] fulls1z3 commented on #83
@Vikasbansal1234 @rahulmodu updated the project using **uglifyes**, which accepts es6 code. Pull the changes and give it a try, and then let me know about the status guys.

[2017-10-13 17:25] #148 closed, assigned to nobody

[2017-10-16 08:40] degendeveloperatwork commented on #180
1. Run npm i @ngrx/store-devtools --save to install the module.
2. Add StoreDevtoolsModule.instrument() to the end imports array in CoreModule.
3. Rebuild and serve (npm run build:universal-dev && npm run serve).
You need upgrade your ngrx store also to 4.0.0

[2017-10-16 08:44] degendeveloperatwork commented on #180
If you run into errors saying dispatch missing, then u need the 4.0.0 version and then if you get error something that the reducer is missing then you run this on the command line:

`sudo o npm un -D @ngrx/{core,store,store-devtools} & sudo  & npm i -D @ngrx/{store,store-devtools}`

[2017-10-20 16:55] vlados opened #201 "rollup for optimization of the scripts"
**I'm submitting a ...**  (check one with "x")
[code]
I think it will be nice to optimize the build size of the files by integration of rollup.js

[2017-10-21 07:23] vlados opened #204 "cannot read property 'has' of null"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
[code]
Hit an error
[code]
**Expected/desired behavior**
Run smoothly

**Hackfix**
[code]

**Environment**
* **For Tooling issues:**
- Node version: v8.4.0
- Platform:  Mac
- Webpack: 3.7.1
- Typescript: 2.0.0

* Others:

[2017-11-07 11:43] dhyey35 commented on #204
Having the same issue on

- Platform: Windows 7 64 bit
- Webpack: 3.8.1
- Typescript: 2.5.3
- Node: v6.11.2
- NPM: 3.10.10

@fulls1z3 can you please take a look at it ?

[2017-11-07 20:49] vlados opened #227 "Import module only if is browser"
**I'm submitting a ...**  (check one with "x")
[code]
If I have a module that imports module that is not compatible with server side rendering (for example uses window) how I can check if is browser before I declare @NgModule?

[2017-11-07 22:03] vlados opened #228 "Why using webpack-dll-bundles-plugin"
Why using webpack-dll-bundles-plugin when webpack have that plugin in the box?

[2017-11-08 21:04] kaoz70 commented on #100
@juanpmarin No, I ended up changing them on every build, it would be great to see this implemented.

[2017-11-08 21:07] juanmarin-co commented on #100
@kaoz70 https://webpack.js.org/plugins/normal-module-replacement-plugin/
Using that plugin it can be done, having multiple environment files like angular-cli does

[2017-11-08 21:29] vlados opened #229 "ReferenceError: window is not defined"
**I'm submitting a ...**  (check one with "x")
[code]
After running npm run build:universal-prod && npm run serve I get this error:
[code]
**How I can debug it and find the module causing the error?**

[2017-11-08 21:47] fulls1z3 commented on #201
@vlados that's a killer idea actually, I'll have a look on it after upgrading to ng5.

[2017-11-08 21:48] vlados commented on #201
Let's bring it to life :) I cannot do it by myself only but with help ..

[2017-11-08 21:50] fulls1z3 commented on #227
@vlados please have a look at https://github.com/ng-seed/universal/blob/master/src/client/app/components/layout/main.component.ts#L13.

You will find the implementation of `isBrowser` flag on the component code. Then go to the tempate, and you will notice the `isBrowser` flag in a `ngIf` statement. This way, you might avoid use of non-universal compliant statements.

[2017-11-08 21:50] #227 closed, assigned to nobody

[2017-11-08 21:50] fulls1z3 commented on #229
Explained on #227.

[2017-11-08 21:50] #229 closed, assigned to nobody

[2017-11-08 21:51] fulls1z3 commented on #228
@vlados the native DLL plugin requires a lot of additional boilerplate, and other implementations of webpack DLL's are not quite compatible for universal. Till we figure out something better, let's stick to webpack-dll-bundles-plugin & hard source plugins.

[2017-11-08 21:51] #228 closed, assigned to nobody

[2017-11-08 21:52] fulls1z3 commented on #201
@vlados that's not quite easy as it seems, there're some points to be cleared first. Although not easy, I'll find a way to realize this :smile:

[2017-11-08 22:04] vlados commented on #201
I know it's not but together we can do it :) This is the point of the community

[2017-11-14 18:53] vlados opened #230 "cannot use SVG"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Cannot use svg in the project

**Minimal reproduction of the problem with instructions**
- Clone the repo
- Import svg from assets folder
- Install image-webpack-loader
- Add this to webpack.config.js to the rules section
[code]
- run `npm run build:spa-dev; npm run serve:spa-hmr` - Works
- run `npm run build:universal-pro

[2017-11-14 19:55] vlados commented on #230
After some debugging and some sleep I've got the problem. The problem is that in webpack.config.js we have that check that is excluding the rules in the function browserConfig:
[code]
@fulls1z3 can you explain why you are doing that check? can we have separate function serverConfig or we can have checks in that function if is server?

[2017-11-14 20:10] vlados commented on #230
Isn't this better:
[code]

[2017-11-16 03:32] aneeshkumar-klr commented on #162
How to deploy ng-seed/universal application in heroku ?
Anyone please..

[2017-11-16 12:33] vlados commented on #162
https://devcenter.heroku.com/articles/getting-started-with-nodejs#introduction
You are deploying it as normal node.js app

[2017-11-16 16:41] vlados opened #231 "set server statuses"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Not able to set server status like 404

[2017-11-17 17:35] zmnv commented on #57
Same ...

[code]

[2017-11-23 06:03] sagarguhe opened #233 "universal production build failing on ubuntu with exit code 137"
**I'm submitting a ...**
[code]

**Current behavior**
I am trying to `build:universal-prod` on my linode Ubuntu 16.04 64 bit system but this is failing to build. I tried to `build:universal-dev` and this worked perfectly but not the `prod` version. On my local (Fedora 25, node: 8.4.0, npm: 5.5.1) I am not experiencing this behavior. Below is the log:

[code]

**Expected/desired behavior**

**Minim

[2017-11-26 10:08] sagarguhe commented on #233
Ok, I think it should be memory issue which is caused by gulp. My server has 1Gb of Ram but this is not sufficient.

[2017-11-26 10:09] sagarguhe commented on #233
I build the build on my local and uploaded build files to the server...

[2017-12-01 00:13] JohnPhilipPearson commented on #57
I thought I would help with environment and steps as I have the same warning.

Mac OS version => 10.13.1
node -v => v8.9.1
npm -v => 5.5.1

steps taken
git pulled on 20171130 with zero changes to the seed
rm -rf node_modules
npm install, error on node-sass
npm rebuild node-sass --force
npm install
npm run clean:artifacts
npm run build:universal-dev

Warning: ./node_modules/express/lib/view.js
81:1

[2017-12-03 20:02] Saint48198 commented on #204
I'm having the same issue, but when I run the clean command. The command never exits and returns the command line. I kill the command and I'm able to build the project.

- Platform: Mac 10.13.1 (High Sierra)
- Node: 8.5.0
- Webpack: 3.8.1
- Typescript: 2.5.3

[2017-12-03 22:57] vlados commented on #204
Fix for now:
add this to scripts
[code]
and add npm run clean:node-cache to the clean command

[2017-12-04 11:34] maks-potter opened #241 "upgrade to version Angular 5"
**I'm submitting a ...**  (check one with "x")
[code]

**Expected/desired behavior**
Will you upgrade to version Angular 5 or сan't wait for the update?

[2017-12-05 12:05] sarfarazansari commented on #241
@makspotter I've updated this seed to Angular 5.
this Seed has so many issues while updating to Angular 5.
I ended up with build issues.
can't build with `stage` or `prod` now.
here is my updated package.json file.
`"dependencies": {
    "@angular/animations": "5.0.4",
    "@angular/cdk": "5.0.0-rc.2",
    "@angular/common": "5.0.4",
    "@angular/core": "5.0.4",
    "@angular/flex-layout": "2.0.0

[2017-12-05 12:11] sarfarazansari opened #242 "after update to Angular 5 unable to make build with `prod` or `stage`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Unable to make the build with `stage` or `prod` both mode (spa or universal)

**Expected/desired behavior**

It should be build because it is working fine in case of `dev` both mode (spa or universal)

**Minimal reproduction of the problem with instructions**
![image](https://user-images.githubusercontent.com/3416989/3360

[2017-12-05 12:15] maks-potter commented on #241
@sarfarazansari I think it's a not best way for update because ng-seed using many dependencies some other packages from @fulls1z3 which using dependencies from angular 4x version, for example, @ngx-config/http-loader use Http module which was removed in Angular 5.
I think we must wait when @fulls1z3 will start update other dependent packages to Angular 5 or we must move project to official ng-cli

[2017-12-05 12:18] fulls1z3 commented on #241
@sarfarazansari @makspotter guys it all depends to the packages (*ngx-config. ngx-meta, etc.*) that this seed depends to. It's already on our roadmap but it seems I'll need a couple of more weeks to handle this upgrade on all dependent packages - due to the limited free time that I have currently.

Honestly, I need this upgrade on the commercial projects we're actively developing in our company, s

[2017-12-05 12:20] fulls1z3 commented on #242
Duplicate of #241

[2017-12-05 12:20] #242 closed, assigned to nobody

[2017-12-05 12:21] fulls1z3 commented on #233
@sagarguhe it's very likely to be a memory issue, and honestly 1 GB is too low for such a build operation.

[2017-12-05 12:21] #233 closed, assigned to nobody

[2017-12-05 12:23] fulls1z3 commented on #230
@vlados if the `options` object is undefined, the second code will crash (*js can not read `platform` property of `undefinde`), that's why the code seems a little dirty - but safe.

[2017-12-05 12:24] #230 closed, assigned to nobody

[2017-12-05 12:25] fulls1z3 commented on #231
@vlados could you please elaborate this a little more my friend? do you need such a `404 not found` page or something similar?

[2017-12-06 00:59] vlados commented on #231
@fulls1z3 exactly

[2017-12-06 04:19] sarfarazansari commented on #241
@makspotter I know that Seed has dependencies on the 4x version.
But I updated packages according to there dependencies.
and I got succeeded and everything is working fine.
except `prod` and `stage` build in both mode (universal | lean)

[2017-12-07 10:59] harisaamin opened #243 "Server at port 8000 breaking down."
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
I have finished working on my front-end project using this seed project and now switching focus to backend, but I find that the server at port 8000 doesn't start after running **npm run serve**, so I used npm **--verbose** run serve and it just exited cleanly after the following messages:

**npm info it worked if it ends w

[2017-12-07 14:20] harisaamin commented on #243
I solved it. Looks like I just had to run it clean, and then use **npm run build-universal-dev** for a new build.

[2017-12-07 14:20] #243 closed, assigned to nobody

[2017-12-08 14:59] rem42 opened #244 "add proxy conf"
**I'm submitting a ...**  (check one with "x")
[code]

**Expected/desired behavior**
Add the proxy conf for the webpack configuration file. To use it like we can do in angular-cli

Example :

`{
  "/api": {
    "target": "http://localhost:8000",
    "secure": false,
    "changeOrigin": true
  }
}`

I already try to add in build-config.json this :

`  "proxy": {
    "/api": {
      "target": "https

[2018-01-03 14:26] slavpilus commented on #241
@fulls1z3 any update on when we can expect the Angular 5 migration?

[2018-01-03 21:00] fulls1z3 commented on #241
@slavP I'm still working on a very dense schedule. Depending on the results on the upcoming weeks, I'm going to to either take required actions for the dependencies, or at least prepare a roadmap.

So that we can clearly see what steps to follow. Meanwhile, contributions would take place as everything is going to be planned.

[2018-01-04 07:17] sarfarazansari commented on #241
@fulls1z3 I've tried to update this seed to Angular 5.
but Ended with so many issues and errors.
most of them are regarding web pack and some universal gotchas.

[2018-01-07 21:37] fulls1z3 commented on #241
@sarfarazansari @slavP @makspotter I'm glad to say that in a few hours the migration will be done :)

[2018-01-08 12:03] vlados commented on #241
@fulls1z3 Where we can test it? Are you merging it into master repo?

[2018-01-08 13:06] #7 closed, assigned to fulls1z3

[2018-01-08 13:06] #43 closed, assigned to fulls1z3

[2018-01-08 13:06] #175 closed, assigned to fulls1z3

[2018-01-08 13:06] #241 closed, assigned to fulls1z3

[2018-01-09 19:11] deefactorial opened #279 "copy:index.html issue while running `npm run build:spa-dev`"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

running `npm run build:spa-dev` fails on copy:index.html gulp command:
[code]

**Expected/desired behavior**

I expected the command to finish without errors

**Minimal reproduction of the problem with instructions**

[code]

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular ver

[2018-01-10 12:09] fulls1z3 commented on #279
@deefactorial I had a look at the npm output, but honestly it didn't help much.

Did you just clone the repo on made the initial build, or you pulled the latest on your project?

FYI, I've got exactly the same node and npm versions on Windows 10, and made a fresh repo clone - and it ran successfully. However, I don't believe the fact that *it runs on my machine*, and any further info is always wel

[2018-01-10 12:13] fulls1z3 commented on #241
@vlados yeah friend, I merged it into master and using it as upstream on my commercial projects. Results are hot, and I honestly loved the ng5.

Meanwhile, there're still issues with app flickering (rendering twice on server and browser passes). Any help is highly appreciated.

[2018-01-10 18:41] deefactorial commented on #279
@fulls1z3 It appears to have been a package installation issue, I think when I ran `npm install` instead of `yarn` it caused an issue with the installed packages, destroying the repository and starting again from scratch resolved the issue.

Thanks for looking into it.

[2018-01-10 18:41] #279 closed, assigned to nobody

[2018-01-12 10:08] vlados commented on #279
I can confirm:
If you installed the packages with `npm install` simply run `yarn` and it will work after that

[2018-01-13 20:42] hillbrm opened #283 "ngx-i18n-router doesn't work"
Hello!
In last version of project I uncommented i18n-router in all files where found it and get errors at console.

**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
[code]

Hit an errors:

[code]

**Environment**
Angular 5
Node version: v8.9.4
Platform: macOS 10.13.2
Webpack: 3.10
Typescript: 2.6.2
NPM: 5.6.0

[2018-01-13 20:45] fulls1z3 commented on #283
@hillbrm for a while, it should stay commented - there's an issue we need to solve with `@ngtools/webpack` (*more specifically with `@angular/complier-cli`*).

You can find detailed info on this issue: https://github.com/fulls1z3/ngx-i18n-router/issues/2

[2018-01-13 20:45] #283 closed, assigned to nobody

[2018-01-13 22:05] hillbrm commented on #283
Thanx, but i cant find ngtools_impl file.. Latest angular-cli does not have this file?

[2018-01-14 12:50] bobsingor opened #284 "static injector error when serving universal-prod"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
When I follow the documentation and run:
[code]
and in the browser go to:
[code]
I get the following error :
[code]

* **For Tooling issues:**
- Node version: v8.9.1
- Platform:  Mac

[2018-01-14 13:08] bobsingor commented on #284
By removing uglify I don't get this error anymore

[2018-01-14 13:09] fulls1z3 commented on #284
@bobsingor i watched this movie earlier :)

Either you’re using a package with `ApplicationRef` dependency, or you should have manually turned on uglification.

Try commenting the `ConfigMergeLoader` and switch to `ConfigStaticLoader` (*by copying the values from `assets/config.local.json` to its constructor*) and let’s see if it happens or not.

In my case it was the interference with TransferHtt

[2018-01-15 18:25] andrey-programmist commented on #284
I have the same issue. Commenting `ConfigLoader` didn't help.

[2018-01-15 19:26] NathanBraslavski opened #287 "mapping sass to source file instead of compiled style.bundle.js"
**I'm submitting a ...**
[code]

**Current behavior**
In Elements > Style debug view (Developer Tools) all the styling are mapped to the compiled file, in chrome represented as the source of the css in <style>...</style>
I tried to change the values of the source map in the `build-config.json`
according to [devtool doc](https://webpack.js.org/configuration/devtool/)
[code]
But it didn't have any e

[2018-01-20 22:25] ghost commented on #284
I can build successfully after remove prodconfig() in webpack.config.js

[2018-01-22 11:15] andrey-programmist commented on #284
I can build with such config successfully
[code]

[2018-01-23 12:18] ld-gary opened #296 "vague error message on `universal-prod`"
**I'm submitting a ...**
[code]

**Current behavior**
Unspecified error in unspecified (and destroyed) file on production build

**Expected/desired behavior**
Some indication as to where the error occurs within the codebase

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** 4.4.6

* **For Tooling issues:**
- Node version: 7.4.0 (also 6.9.5 loc

[2018-01-24 22:55] fulls1z3 commented on #296
I think it's caused by `uglify-webpack-plugin`, try to update to the latest `angular-webpack-config` where the uglification is (*temporarily*) disabled.

Also you can follow #284 for the latest changes on this functionality.

[2018-01-24 22:55] #296 closed, assigned to nobody

[2018-01-25 10:42] ld-gary commented on #296
Hey, ok cool will keep an eye on that thread. Just FYI though, my project is pretty large and was started way before the release of Angular 5, thus, I can't easily migrate to 5 given current work load. Updating to the latest angular-webpack-config isn't an option for me right now so I'm stuck with none prod builds.

[2018-01-25 13:53] vlados opened #306 "chat room for talks"
Hi guys,
I've created a chat room where we can discuss or ask our questions and not to flood @fulls1z3 with questions :)

https://gitter.im/ngx-universal/Lobby#

[2018-01-25 15:10] fulls1z3 commented on #306
@vlados, awesome idea my friend 👍

however, there was a room which was created ages ago, and i sent invites everyone i could.

here's the link: https://gitter.im/ng-seed-universal/Lobby

[2018-01-25 17:31] vlados commented on #306
Put the link in the readme so everyone can know about it ;)

[2018-01-26 10:54] ld-gary commented on #296
I updated to the latest version that includes Angular 5 and the latest `angular webpack-config` in which you have commented out the uglify plugin code. Still getting this vague error. I've even deleted most of the components from our app in an attempt to eliminate the error and therefore narrow down the source... no joy.

Only during production build, not caused by uglify. I'm rooting through your

[2018-01-26 11:14] ld-gary commented on #296
Though... I've just cloned a fresh copy of the ng-seed codebase and it built just fine. Really still could be from anywhere including a third party module so I'm still stumped. Sorry to hassle this thread but I'm hacking at this issue alone! I look forward to the day when the thrown error is a little more clear than a puddle of mud...

[2018-01-29 18:34] #306 closed, assigned to nobody

[2018-01-30 13:16] ld-gary commented on #296
Just to finish this thread, it turned out to be an outdated wrapper for a swiper plugin that was causing this. The only real solution was to methodically remove chunks of code or imports and re-build until the error went. If anyone is reading this and having a similar struggle, first, my condolences, second... maybe check through the third party packages you are using and make sure they conform to

[2018-01-30 21:54] JoshElias opened #311 "change publicPath to point to CDN"
[ ] Support request =>
[ ] Feature request
[x ] Documentation issue or request
[code]

[2018-02-01 15:42] JoshElias opened #312 "hostListener events aren't firing in universal builds"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

Events like:
[code]

**Expected/desired behavior**

The events should fire

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [x] Chrome (desktop) version XX
- [ ] Chrome (Android) vers

[2018-02-01 21:20] vlados commented on #312
@JoshElias: I am using this code and it works with angular 5.2. What version of angular you are using?

    @HostListener('document:keydown.escape', ['$event']) onKeydownHandler(): void {
        this.close();
    }

    @HostListener('click', ['$event']) onClick(evt: MouseEvent): void {
        this.close(evt);
    }

[2018-02-01 23:36] JoshElias commented on #312
I'm very sorry but after spending all day digging it was a bad path to my public assets (app bundle) that made it look as if the events weren't firing.

Thank you very much for the response and I'll close this issue.

[2018-02-01 23:36] #312 closed, assigned to nobody

[2018-02-07 07:25] hadirsa opened #317 "Error on running $ nodemon ./.server/server.js."
[code]
**I get error when i build and run `nodemon ./.server/server.js`. the web page is white and it stuck on loading.**
[code]

**Is there any command that i should run before starting server?**

[2018-02-12 17:30] hadirsa commented on #317
I wonder if it works for the others!!

[2018-02-12 19:14] vlados commented on #317
@hadirsa This function is not part of the package. Search which package is doing this and try to debug it

[2018-02-13 22:34] vlados commented on #284
I can confirm fix in webpack.config.ts
[code]

[2018-02-14 19:59] fulls1z3 commented on #317
@vlados thanks for catching the issue 👍
@hadirsa please try to share your package.json with us, maybe we can notice the package.

happy valentines everyone ❤️

[2018-02-14 19:59] #317 closed, assigned to nobody

[2018-02-28 23:02] chrisworrell opened #333 "cannot build project from a fresh clone (no adjustments made by me"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

I cannot get a build to work on windows.  It always fails

**Expected/desired behavior**

Build correctly

**Minimal reproduction of the problem with instructions**

[code]

[code]

**What is the motivation / use case for changing the behavior?**

Building the project

**Environment**
* **Angular version:** 6.0.0-beta.0

[2018-02-28 23:06] chrisworrell commented on #333
I also get the exact same error on my Mac, really hope someone can tell me what I am doing wrong

Mac is running node 8.8.1 and npm 5.6.0

[2018-03-03 15:44] fulls1z3 commented on #333
@chrisworrell thanks for reporting the issue, working on it now 👍

[2018-03-03 16:01] fulls1z3 commented on #333
@chrisworrell  found the issue, upgrading `hard-source-webpack-plugin` caused it.

Reverted this upgrade and things are back to normal now.

Commiting within half an hour, and this should solve your problem 😄

[2018-03-03 16:01] #333 closed, assigned to fulls1z3

[2018-03-03 16:05] chrisworrell commented on #333
thanks!

[2018-03-05 08:38] fulls1z3 commented on #333
@chrisworrell thanks too, your attention to this detail saved the project 👍

[2018-03-07 12:33] johnbendi opened #344 "support webpack v4"
**I'm submitting a ...**

- [ ] Regression (a behavior that used to work and stopped working in a new release)
- [ ] Bug report
- [ ] Support request =>
- [x] Feature request
- [ ] Documentation issue or request

**Current behavior**
Currently ng-seed works with webpack v3

**Expected/desired behavior**
I desire for webpack v4 support

**Minimal reproduction of the problem with instructions**
Upgr

[2018-03-09 21:21] AnthonyNahas commented on #284
@vlados that worked for me ;)

[2018-03-14 16:42] deefactorial commented on #100
This is my solution in your `./tools/build/webpack.config.js` define a function to get your constants from the settings or from an environment variable set using `cross-env` like `cross-env DEMO_MODE=true npm run serve:spa-hmr`

[code]

then in your plugins array in the `webpack.config.js` set the define plugin
[code]

then in your `src/client/custom.typings.d.ts` define your constants
[code]
then

[2018-04-17 06:57] kirilogan opened #368 "absolute vs relative paths within templates using publicPaths"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Although another issue was closed stating that we could set the **publicPaths** to **"/assets/"**, but it still does not allow for absolute paths for use in templates ex. using /assets/img/logo.png. Although no errors are shown, the "logo.png" files does not get placed into the public/assets folder.

`  "publicPaths": {

[2018-04-17 15:42] vlados opened #369 "hmr not refreshing"
**I'm submitting a ...**  (check one with "x")
[code]
When stylelint throw a warning in the console it's not reloading the new changes. How I can make it show a warning but still refresh the new changes?

[2018-04-17 16:34] fulls1z3 commented on #369
@vlados well I can answer this just after I've finished with webpack4 / rxjs6 / angular6 upgrade.

If things go alright, the update will happen tonight 👍

[2018-04-17 16:40] fulls1z3 commented on #201
@vlados I'm closing this in favor of `sideEffects` feature of webpack 4 #344

[2018-04-17 16:40] #201 closed, assigned to nobody

[2018-04-17 17:10] #90 closed, assigned to fulls1z3

[2018-04-17 19:32] #57 closed, assigned to fulls1z3

[2018-04-17 19:32] #284 closed, assigned to nobody

[2018-04-17 19:32] #344 closed, assigned to fulls1z3

[2018-04-17 19:32] #369 closed, assigned to nobody

[2018-04-17 19:32] fulls1z3 commented on #369
@vlados all done, enjoy the latest stack 👍

[2018-04-17 19:32] fulls1z3 commented on #344
@johnbendi all done, enjoy the latest stack 👍

[2018-04-17 19:33] fulls1z3 commented on #284
@bobsingor @andrey-programmist @sanyagolub @vlados @AnthonyNahas this issue has been fixed 👍

[2018-04-17 19:34] fulls1z3 commented on #57
@kkaabbaa @PTC-JoshuaMatthews @zmnv @JohnPhilipPearson all done with webpack 4, enjoy the latest stack 👍

[2018-04-24 09:30] fulls1z3 commented on #64
@vlados now we have best of both worlds: latest (*v4*) webpack + custom build config + **schematics** from `@angular` and `@ngrx`.

Feel free to use the following commands and let me know about the results:

[code]

Meanwhile, it would be really nice if you could make a contribution to the documentation about the use of **CLI** and added **schematics** from `@angular` and `@ngrx`.

[2018-04-24 11:50] vlados commented on #64
WOW! :) I will find some time and I will do it. Putting in the todos :)

[2018-05-02 04:58] hadirsa opened #391 "error running build tasks"
**I'm submitting a  bug report. I try to run any of build goals and at the end i get errors.

For example for `build:universal-prod` and build:spa-prod i have faced the below error  :

[code]
for `build:universal-dev` i have faced the below error:

[code]

[code]

* **For Tooling issues:**
- Node version: **v8.9.4**
- Platform: Windows

Any idea about these errors?

[2018-05-02 13:39] fulls1z3 commented on #391
@hadirsa just run both command just after a successful execution of `yarn`.

Which tool did you use to install the deps? NPM or YARN?

[2018-05-02 14:47] hadirsa commented on #391
@fulls1z3, i use` yarn`,  also i tried to install deps with `npm` and  run build:* , i got the same error.

I tried to run `build:*` with yarn and npm and only `build:spa-dev` works fine.

I run these goals right after `yarn `or `npm install`, am i doing wrong?

[2018-05-02 14:48] fulls1z3 commented on #391
@hadirsa it's best to clone a fresh version from the repository and just execute these commands (as i've succeeded here):

* `git clone https://github.com/ng-seed/universal`
* `yarn`
* `npm run build:universal-dev`
or
* `npm run build:universal-prod`

[2018-05-02 15:15] hadirsa commented on #391
@fulls1z3 , i did as you said but the errors were  same as i said before but **with npm install every thing works fine**. Is there any issue with yarn? Didn't you face any issues with yarn?

[2018-05-05 22:07] fulls1z3 commented on #391
@hadirsa actually I just had time to review issues, and i had some other issues with yarn. As a result, I deleted it totally and installed a new version. Now, things are more or less fine.

[2018-05-10 08:22] createbuildship opened #403 "how to run ng serve"
How do I run it and build same time, like doing ng serve?

[2018-05-11 16:42] fulls1z3 commented on #403
[code]

[2018-05-11 16:42] #403 closed, assigned to nobody

[2018-05-11 16:42] #391 closed, assigned to nobody

[2018-05-11 20:57] createbuildship opened #408 "rimraf is not recognized as an internal or external command"
'rimraf' is not recognized as an internal or external command,
Do you need to do npm i?

[2018-05-12 20:53] vlados commented on #408
@frontr-uk read the readme ;)

[2018-05-14 14:50] createbuildship commented on #408
i did, can you be more helpful and not expect everyone to understand everything on the spot. There people in different levels of coding :)

[2018-05-14 15:36] vlados commented on #408
@frontr-uk If you want a proper answer please submit a proper question by using the guidelines
https://github.com/ng-seed/universal/blob/master/CONTRIBUTING.md#submit-issue

[2018-05-16 04:35] hadirsa opened #414 "default language is not working"
**I'm submitting a ...**
[code]

**Current behavior**
I have added a new language to the languages list. Change in language's combo is Ok and works. The problem is that i want to set a new language as default.
I did this in `config.local.json` but default language is not set on application start. Is there another changes that i should make to have default language on app startup?

[code]

**Expect

[2018-05-23 23:58] shayangz commented on #244
+1

[2018-06-11 13:21] ghost opened #438 "auto restart and rebuild angular universal on save"
I turned my application to angular universal. It's great but I have a problem with developing mode. I need to see my editing result real-time. I need to restart my app on each atrl+s (save) like `build --watch` and `nodmeon`.

My server is Eexpressjs and I'm using the command  `"npm run build:ssr"` after each edit. It takes lots of time!!
How can I do that?

[2018-06-11 14:51] fulls1z3 commented on #438
@samialmorshedi it writes on readme

[2018-06-11 14:51] #438 closed, assigned to nobody

[2018-06-12 07:44] ghost commented on #438
@fulls1z3  I have read the whole readme file. I did not find that. Could you please help me find it or mention the exact part that I could find it? Thanks a lot.

[2018-06-12 10:52] vlados commented on #438
How it is possible? Its here https://github.com/ng-seed/universal#-building

[2018-06-19 15:01] vlados opened #442 "use ng-zorro-antd"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**
Can't bind to 'nzCount' since it isn't a known property of 'nz-badge'.
I've added the NgZorroAntdModule and everything but it's not recognizing it ...

I've created to projects:
- Clear angular project generated with angular-cli and added NgZorroAntdModule according to the [documentation](https://ng.ant.design/docs/getting

[2018-06-22 19:29] kushwahashiv opened #443 "debug SSR code"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) version XX
- [ ] Chrome (iOS) version XX
- [ ] Fi

[2018-06-26 21:53] createbuildship opened #444 "environment file"
a way to have environment file?

[2018-06-26 22:14] kushwahashiv commented on #317
this do not works for me as well. not sure if there is a way to generate it?

[2018-06-27 14:41] vlados commented on #442
The problem is not releated to the project. When you have lazyModule you need to import the NgZorroAntdModule in the each lazy loaded module

[2018-06-27 14:41] #442 closed, assigned to nobody

[2018-06-29 12:37] vlados commented on #317
@kushwahashiv try
`npm install mime@1.2.11 --save`

[2018-07-16 06:57] satya5561 opened #448 "deploy on aws ec2"
how to deploy it on aws ec2

[2018-07-21 18:25] codex-corp opened #450 "angular CLI generating in wrong path"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** 6.0.3

* **For Tooling issues:**
- Node version: 8
- Platform:  Linux

* Others:

[code]

[code]

On windows it does work like:

[2018-07-23 21:46] #408 closed, assigned to nobody

[2018-08-12 12:46] createbuildship opened #478 "http fails"
When I add method  this.http.post<any> in the app.component.ts or any file I get an error:
[code]
[code]

[2018-08-19 18:06] createbuildship opened #482 "way to access the meta title"
Is there a way to set the Meta title/ page tile from the component?

[2018-08-19 18:42] vlados commented on #482
use the MetaService from '@ngx-meta/core';
[code]

[2018-08-22 20:33] vlados opened #484 "unreachable endpoint"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

1. Git clone
2. npm install
3. Error
[code]

**Expected/desired behavior**

**Minimal reproduction of the problem with instructions**

**What is the motivation / use case for changing the behavior?**

**Environment**
* **Angular version:** X.Y.Z

* **Browser:**
- [ ] Chrome (desktop) version XX
- [ ] Chrome (Android) vers

[2018-09-04 10:26] mappedinn commented on #484
the file `./.server/server.js` does not exist.

What I have done is just avoiding it. :(

[2018-09-04 10:28] mappedinn commented on #450
So any update for this issue???

I am facing the same issue!!!

[2018-09-04 12:57] vlados commented on #484
try npm run build:universal-prod

[2018-09-05 04:23] mappedinn opened #493 "why should we need `electron` in this project"
Hi dears,

Thank for sharing this repository.

General question: why should we need `electron` in this project?

[code]

[2018-09-05 04:45] mappedinn commented on #493
it is for testing:

[code]

[2018-09-05 04:45] #493 closed, assigned to nobody

[2018-09-05 20:12] codex-corp commented on #244
Here a solution,
https://github.com/chimurai/http-proxy-middleware/blob/master/README.md#http-proxy-middleware-options
[code]

![image](https://user-images.githubusercontent.com/775654/45119951-7ce51000-b165-11e8-8455-739db6384b11.png)

[2018-09-06 08:10] mappedinn commented on #450
@fulls1z3 I am proposing a PR [https://github.com/ng-seed/universal/pull/494](https://github.com/ng-seed/universal/pull/494) to solve this issue.

@codex-corp This branch can solve your issue: [https://github.com/mappedinn/universal/tree/project-with-updated-packages](https://github.com/mappedinn/universal/tree/project-with-updated-packages)

[2018-10-04 16:18] bobsingor opened #500 "html tags including webpack javascript syntax"
**I'm submitting a ...**
[code]

**Current behavior**
I installed the module [ngx-charts ](https://github.com/swimlane/ngx-charts) and exectue `npm run build:universal-prod` and `npm run serve` The CSS inline is not loading properly as you see in the screenshot below. The SSR is loading the css properly. But when the client application is loaded, the css inline style is including javascript syntax

[2018-10-09 09:30] fulls1z3 commented on #484
@vlados @mappedinn still facing an issue with that?

[2018-10-09 09:58] #482 closed, assigned to nobody

[2018-10-09 09:58] #478 closed, assigned to nobody

[2018-10-09 09:59] fulls1z3 commented on #444
@frontr-uk see `@ngx-config`

[2018-10-09 09:59] #444 closed, assigned to nobody

[2018-10-09 10:00] #443 closed, assigned to nobody

[2018-10-09 10:00] #244 closed, assigned to nobody

[2018-10-09 10:02] fulls1z3 commented on #204
@vlados, @dhyey35, @Saint48198 i think this shouldn't happen anymore as of the breaking changes with webpack v4.

[2018-10-09 10:02] #204 closed, assigned to nobody

[2018-10-10 18:37] #500 closed, assigned to nobody

[2018-10-10 18:37] #484 closed, assigned to nobody

[2018-10-10 18:38] fulls1z3 commented on #450
Solved by #507

[2018-10-10 18:38] #450 closed, assigned to nobody

[2018-10-10 18:38] fulls1z3 commented on #368
#507

[2018-10-10 18:38] #368 closed, assigned to nobody

[2018-10-10 18:38] fulls1z3 commented on #311
#507

[2018-10-10 18:38] #311 closed, assigned to nobody

[2018-10-10 18:39] fulls1z3 commented on #287
#507

[2018-10-10 18:39] #287 closed, assigned to nobody

[2018-10-10 18:39] fulls1z3 commented on #150
#507

[2018-10-10 18:39] #150 closed, assigned to fulls1z3

[2018-10-10 18:39] #146 closed, assigned to nobody

[2018-10-10 18:40] fulls1z3 commented on #100
#507

[2018-10-10 18:40] #100 closed, assigned to nobody

[2018-10-10 18:40] fulls1z3 commented on #46
#507

[2018-10-10 18:40] #46 closed, assigned to nobody

[2018-10-15 17:42] IamDeshRaj opened #517 "How to disable all the Junits.?"
I'm trying to migrate my project to ng-seed, Can someone tell me how can I disble all the Junits at once.? I just want to run my project once with ng-seed and want see if it's upto my requirement or not..?

[2018-10-17 22:17] #517 closed, assigned to nobody

[2018-12-21 08:38] smadil997 opened #604 "func expressions not supported in decorators in reducers in aot"
ERROR in src\app\framework\store\i18n\i18n.module.ts(17,38): Error during template compile of 'I18NModule'
  Function expressions are not supported in decorators in 'reducer'
    'reducer' contains the error at src\app\framework\store\i18n\language\language.reducer.ts(9,24)
      Consider changing the function expression into an exported function.

[2018-12-21 08:43] fulls1z3 commented on #604
@smadil997, that's solved - just pull the latest

[2018-12-21 08:43] #604 closed, assigned to fulls1z3

[2018-12-21 10:32] fulls1z3 commented on #180
@ChrisTarasovs that was done

[2018-12-21 10:32] #180 closed, assigned to ChrisTarasovsAngularDev

[2018-12-23 23:36] ithinco opened #607 "no setting found with the specified key"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When the config.local.json file is changed, for example, add an "endpoint2" key with the same value of "endpoint" in "airline", and run yarn test,  errors occur.

Add a "test" key under "backend" with the same "endpoint" key and value of "airline", then change the setting from "["backend", "flight", "airline"]" to "["back

[2018-12-24 02:55] ithinco commented on #607
need to config in "src/app/framework/core/testing/mocks/config-service.mock.ts" rather than modify "config.local.json"

[2018-12-24 05:46] ithinco commented on #607
@fulls1z3 what is the best practice of injecting new pairs of key-value in "this.settings"? Thanks.

[2018-12-24 15:10] ithinco commented on #607
I see the benefits of singleton MockConfigService.

[2018-12-24 15:10] #607 closed, assigned to nobody

[2018-12-26 11:09] smadil997 opened #618 "assets path"
<img src="/assets/logo/logo.png" alt="logo" />

i used all method to get images but still unable to show image from assets folder to html page

[2018-12-26 13:10] fulls1z3 commented on #618
use absolute url, such as `<img src="/assets/img/something.png"/>`

[2018-12-26 13:10] #618 closed, assigned to nobody

[2019-01-15 20:47] logan-jobzmall opened #631 "EEXIST: file already exists | @ngx-cache"
**I'm submitting a ...**  (check one with "x")
[code]

**Current behavior**

When running in production SSR mode, ngx-cache fails on second load. It looks like it tries to create the .cache folder twice, and fails:

[code]

**Expected/desired behavior**

The expectation is that the cache services should check to see if the folder exists before trying to recreate it. This error breaks everything an

[2019-01-22 09:21] smadil997 opened #634 "how to set facebook og tags"
Hi can you please tell me how i can change facebook og tags like
`<meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="When Great Minds Don’t Think Alike" />
<meta property="og:description"        cont

[2019-01-25 15:46] NKjoep commented on #634
Hi, you should have a look at the `Meta` service: https://angular.io/api/platform-browser/Meta

[code]

[2019-02-08 19:23] shayangz commented on #631
has anybody figured out how to fix/workaround this?

[2019-02-09 11:34] raviada commented on #631
I am facing the same issue, any ideas what is happening?
[code]

[2019-02-20 09:37] meatfly commented on #631
Hi, same problem here, some hint to resolve ?
[code]

[2019-02-20 11:45] meatfly commented on #631
there is bug in XpFsStorageService use ```      if (!stat.isDirectory()) {``` not
```if (!stat.hasOwnProperty('isDirectory')) {```

workaround can by done by own implementation of storageService
https://gist.github.com/meatfly/baff02d8004802a870b77171f0b3f6e0

and than use in app.server.module.ts
[code]

[2019-02-25 15:03] smadil997 opened #646 "Show html css in between route-app tag"
How I can show html code between route-app tag on production as you render html and css when we do 'view source code' on browser.

[2019-02-27 07:40] smadil997 commented on #646
can you please guide me how i can show html css code in view page source  production build as you show on you example web??

[2019-03-15 08:22] smadil997 commented on #15
Is there any update on flickering issue??

[2019-03-17 14:25] createbuildship opened #655 "Any ideas to integrate socket.io?"
Any ideas to integrate socket.io?

[2019-03-21 21:51] #655 closed, assigned to nobody

[2019-05-09 12:35] squelix commented on #631
I still have this error
[code]

Event with your `XpFsStorageService` 😕

[2019-10-07 22:32] ghost opened #720 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team

[2019-10-15 14:27] matusbielik opened #723 "Build command project name typo"
univer4sal instead of universal

https://github.com/ng-seed/universal/blob/d958b74a7b0294f649d283372e21a615b99995e5/package.json#L47

[2019-11-29 14:31] fulls1z3 opened #736 "use sitemap-generator for SSR"
**I'm submitting a ...**  (check one with "x")
[code]

[2019-12-03 16:30] #720 closed, assigned to nobody

[2019-12-03 16:49] #646 closed, assigned to nobody

[2019-12-03 16:50] #634 closed, assigned to nobody

[2019-12-03 21:43] fulls1z3 commented on #723
fixed

[2019-12-03 21:43] #723 closed, assigned to nobody

[2019-12-30 09:46] binhudakhalid opened #738 "Angular 4 universal ReferenceError: document is not defined"
Still getting error after adding domino js in server.ts.
Angular version:4

[code]

server.ts
[code]

package.json
[code]

[2020-01-02 12:06] binhudakhalid commented on #738
Solution: "odometer": "^0.4.8" was creating the problem.
After removing it from the project its now working fine.

[2020-01-02 12:06] #738 closed, assigned to nobody

[2020-01-16 23:52] #122 closed, assigned to nobody